Auto data/Dynamic Query System.json
{
  "name": "Dynamic Query System",
  "nodes": [
    {
      "parameters": {
        "amount": 20
      },
      "id": "521f5b61-398b-4c0d-b2d4-069ba3b41cac",
      "name": "Wait 20 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1424,
        -560
      ],
      "webhookId": "f79618aa-0951-403b-95e1-4d64ad163819"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f4e733d6-76f2-404d-b73b-da1b7a1c41e3",
      "name": "Check Completed (1)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1936,
        -560
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "48d2685a-17b0-4e38-9c75-da5c2b5f605f",
      "name": "Wait 30 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2160,
        -468
      ],
      "webhookId": "c03a1408-a6d1-4446-8c02-9814d89fa58f"
    },
    {
      "parameters": {
        "url": "=https://organ-execute-contract-coaches.trycloudflare.com/api/async/status/{{ $json.queryId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "9951d824-533c-4a99-b7a5-5af718a3b589",
      "name": "Check Status (2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        -468
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d893e339-cc7b-4bf7-8be0-41b9d0da36e1",
      "name": "Check Completed (2)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2608,
        -468
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "71db9f1b-01af-42e2-82d4-e1a6307bfe7d",
      "name": "Wait 30 Seconds (2)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2832,
        -396
      ],
      "webhookId": "3880da3f-cb7a-417d-8095-1e6954b278b3"
    },
    {
      "parameters": {
        "url": "https://organ-execute-contract-coaches.trycloudflare.com/api/async/status/={{ $('Start Query').item.json.queryId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "d527e03e-9c6e-49e0-b704-cb58704e6670",
      "name": "Check Status (3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3056,
        -396
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ba3e34b6-269e-4ed0-8c72-e51e971ce0bb",
      "name": "Check Completed (3)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3280,
        -396
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "368626fb-25d8-46bf-be75-19724e855bd1",
      "name": "Wait 2 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3504,
        -324
      ],
      "webhookId": "912ab625-fae3-47c6-a04c-c64432789f2e"
    },
    {
      "parameters": {
        "url": "https://organ-execute-contract-coaches.trycloudflare.com/api/async/status/={{ $('Start Query').item.json.queryId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "f0681bc9-68cc-4647-bb65-823cb345903f",
      "name": "Check Status (Final)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3728,
        -324
      ]
    },
    {
      "parameters": {
        "jsCode": "// 处理最终结果\nconst data = $json;\n\n// 调试信息\nconsole.log('Process Result - 输入数据:', JSON.stringify(data, null, 2));\n\nif (data.success && data.result) {\n  const result = data.result;\n  \n  // 确保 data 是数组\n  const queryData = (result.data && Array.isArray(result.data)) ? result.data : [];\n  const rowCount = result.row_count || result.rowCount || queryData.length;\n  const totalRows = result.total_rows || result.totalRows || rowCount;\n  \n  console.log('Process Result - 解析结果:', {\n    rowCount,\n    totalRows,\n    dataLength: queryData.length,\n    isArray: Array.isArray(queryData),\n    resultKeys: Object.keys(result)\n  });\n  \n  return {\n    json: {\n      success: true,\n      queryId: data.queryId,\n      status: data.status,\n      rowCount: rowCount,\n      totalRows: totalRows,\n      executionTime: result.executionTime,\n      data: queryData, // 确保这里是数组\n      message: `查询成功！返回 ${rowCount} 条记录`,\n      timestamp: new Date().toISOString()\n    }\n  };\n} else {\n  return {\n    json: {\n      success: false,\n      queryId: data.queryId,\n      status: data.status,\n      error: data.error || '查询失败',\n      message: data.message || '查询执行失败',\n      timestamp: new Date().toISOString()\n    }\n  };\n}"
      },
      "id": "f8526ef8-7c26-4a16-bb6c-fb965947f722",
      "name": "Process Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3952,
        -564
      ]
    },
    {
      "parameters": {
        "jsCode": "// Excel 导出功能\nconst data = $json;\n\nconsole.log('Excel导出 - 输入数据检查:', {\n  success: data.success,\n  hasData: !!data.data,\n  dataType: typeof data.data,\n  isArray: Array.isArray(data.data),\n  dataLength: data.data ? data.data.length : 0\n});\n\n// 检查数据是否有效\nif (!data.success || !data.data || !Array.isArray(data.data) || data.data.length === 0) {\n  return {\n    json: {\n      success: false,\n      error: '数据格式错误，无法导出Excel',\n      message: '查询数据为空或格式不正确',\n      debug: {\n        success: data.success,\n        hasData: !!data.data,\n        isArray: Array.isArray(data.data),\n        dataLength: data.data ? data.data.length : 0\n      }\n    }\n  };\n}\n\n// 准备Excel数据\nconst excelData = data.data.map((row, index) => {\n  return {\n    '序号': index + 1,\n    '记录ID': row.id || '',\n    '用户ID': row.uid || '',\n    '商户ID': row.merchant_id || '',\n    '游戏ID': row.game_id || '',\n    '游戏代码': row.game_code || '',\n    '游戏结果': row.result || '',\n    '货币类型': row.currency || '',\n    '投注金额': row.amount || '',\n    '支付金额': row.pay_out || '',\n    '倍数': row.multiplier || '',\n    '余额': row.balance || '',\n    '详细信息': row.detail || '',\n    '创建时间': row.created_at || '',\n    '更新时间': row.updated_at || '',\n    '提供商': row.provider || '',\n    '商户标识': row.merchant || ''\n  };\n});\n\n// 生成文件名\nconst timestamp = new Date().toISOString().slice(0, 10);\nconst filename = `查询结果_${timestamp}_${Date.now()}`;\n\nconsole.log(`Excel导出: 准备导出 ${excelData.length} 条记录到文件 ${filename}`);\n\nreturn {\n  json: {\n    success: true,\n    queryId: data.queryId,\n    rowCount: data.rowCount,\n    totalRows: data.totalRows,\n    executionTime: data.executionTime,\n    filename: filename,\n    data: excelData, // 格式化后的数据\n    message: `已准备好导出 ${data.rowCount} 条记录到Excel文件: ${filename}`,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "excel-export-node-id",
      "name": "Excel 导出",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        -564
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://organ-execute-contract-coaches.trycloudflare.com/api/export/data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {{ $json.data | json }},\n  \"format\": \"excel\",\n  \"options\": {\n    \"filename\": \"{{ $json.filename }}\",\n    \"sheetName\": \"查询结果\",\n    \"includeMetadata\": true\n  }\n}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "excel-generate-node-id",
      "name": "生成 Excel 文件",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4450,
        -564
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://organ-execute-contract-coaches.trycloudflare.com/api/query/estimate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sql\": {{ $json.output.generatedSQL | json }},\n  \"database\": \"gmp\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "estimate-query-node-id",
      "name": "预估查询量",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// 智能执行策略\nconst estimate = $json;\nconst originalSQL = $('AI Agent').item.json.output.generatedSQL;\n\nif (!estimate.success) {\n  return { json: { success: false, error: '预估失败', strategy: 'error' } };\n}\n\nconst estimatedRows = estimate.estimatedRows;\nconst strategy = estimate.recommendedStrategy;\n\nconsole.log(`查询预估: ${estimatedRows} 行, 策略: ${strategy}`);\n\n// 根据预估结果选择执行策略\nif (strategy === 'direct') {\n  return {\n    json: {\n      strategy: 'direct',\n      sql: originalSQL,\n      estimatedRows: estimatedRows,\n      message: `小数据量查询，直接执行 (${estimatedRows} 行)`\n    }\n  };\n} else if (strategy === 'batch') {\n  return {\n    json: {\n      strategy: 'batch',\n      sql: originalSQL,\n      batchSize: estimate.batchSize || 3000,\n      estimatedBatches: estimate.estimatedBatches || Math.ceil(estimatedRows / 3000),\n      estimatedRows: estimatedRows,\n      message: `中等数据量查询，分批执行 (${estimatedRows} 行, ${estimate.estimatedBatches} 个批次)`\n    }\n  };\n} else if (strategy === 'progressive') {\n  return {\n    json: {\n      strategy: 'progressive',\n      sql: originalSQL,\n      estimatedRows: estimatedRows,\n      message: `大数据量查询，渐进式执行 (${estimatedRows} 行)`\n    }\n  };\n} else {\n  return {\n    json: {\n      strategy: 'rejected',\n      sql: originalSQL,\n      estimatedRows: estimatedRows,\n      message: `数据量过大 (${estimatedRows} 行)，请添加更具体的过滤条件`\n    }\n  };\n}"
      },
      "id": "smart-strategy-node-id",
      "name": "智能执行策略",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// 记录查询ID到数据库或内存\nconst queryResponse = $json;\n\nif (!queryResponse.success) {\n  return {\n    json: {\n      success: false,\n      error: '查询启动失败',\n      message: queryResponse.error || '无法获取查询ID'\n    }\n  };\n}\n\nconst queryId = queryResponse.queryId;\nconst originalMessage = $('Telegram Trigger').item.json.message.text;\nconst timestamp = new Date().toISOString();\n\nconsole.log('记录查询ID:', {\n  queryId: queryId,\n  originalMessage: originalMessage,\n  timestamp: timestamp\n});\n\n// 这里可以将查询ID记录到数据库\n// 为了简化，我们先记录到内存中\nconst queryRecord = {\n  queryId: queryId,\n  originalMessage: originalMessage,\n  status: 'pending',\n  createdAt: timestamp,\n  attempts: 0,\n  lastChecked: timestamp\n};\n\n// 存储到全局变量（实际应用中应该存储到数据库）\nif (!global.queryRecords) {\n  global.queryRecords = new Map();\n}\nglobal.queryRecords.set(queryId, queryRecord);\n\nreturn {\n  json: {\n    success: true,\n    queryId: queryId,\n    originalMessage: originalMessage,\n    status: 'recorded',\n    message: `查询ID ${queryId} 已记录，开始等待查询完成`,\n    timestamp: timestamp\n  }\n};"
      },
      "id": "record-query-id-node",
      "name": "记录查询ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -560
      ]
    },
    {
      "parameters": {
        "jsCode": "// 定期检查查询状态\nconst recordData = $json;\n\nif (!recordData.success) {\n  return {\n    json: {\n      success: false,\n      error: '查询记录失败',\n      message: recordData.error || '无法记录查询ID'\n    }\n  };\n}\n\nconst queryId = recordData.queryId;\n\n// 从内存中获取查询记录\nif (!global.queryRecords || !global.queryRecords.has(queryId)) {\n  return {\n    json: {\n      success: false,\n      error: '查询记录不存在',\n      queryId: queryId\n    }\n  };\n}\n\nconst queryRecord = global.queryRecords.get(queryId);\nqueryRecord.attempts += 1;\nqueryRecord.lastChecked = new Date().toISOString();\n\nconsole.log(`检查查询状态: ${queryId}, 尝试次数: ${queryRecord.attempts}`);\n\n// 如果尝试次数超过限制，标记为失败\nif (queryRecord.attempts > 30) { // 30次 * 20秒 = 10分钟\n  queryRecord.status = 'failed';\n  global.queryRecords.set(queryId, queryRecord);\n  \n  return {\n    json: {\n      success: false,\n      queryId: queryId,\n      error: '查询超时',\n      message: '查询超过10分钟仍未完成',\n      attempts: queryRecord.attempts\n    }\n  };\n}\n\n// 返回查询ID供后续节点使用\nreturn {\n  json: {\n    success: true,\n    queryId: queryId,\n    attempts: queryRecord.attempts,\n    message: `第 ${queryRecord.attempts} 次检查查询状态`,\n    status: 'checking'\n  }\n};"
      },
      "id": "check-query-status-node",
      "name": "定期检查查询状态",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -560
      ]
    },
    {
      "parameters": {
        "jsCode": "// 批量检查查询状态 - 增强版\nconst inputData = $json;\n\nconsole.log('输入数据:', JSON.stringify(inputData, null, 2));\n\n// 如果输入是数组，处理每个项目\nif (Array.isArray(inputData)) {\n  console.log(`批量处理 ${inputData.length} 个查询记录`);\n  \n  const results = [];\n  \n  for (let i = 0; i < inputData.length; i++) {\n    const record = inputData[i];\n    \n    console.log(`检查记录 ${i}:`, {\n      id: record.id,\n      queryId: record.queryId,\n      result: record.result,\n      hasQueryId: !!record.queryId,\n      queryIdType: typeof record.queryId,\n      hasResult: !!record.result,\n      resultIncludes: record.result ? record.result.includes('查询已启动') : false\n    });\n    \n    // 严格检查：queryId 必须存在且不为null，result必须包含'查询已启动'\n    if (record.queryId && \n        record.queryId !== null && \n        record.queryId !== 'null' && \n        typeof record.queryId === 'string' && \n        record.queryId.trim() !== '' &&\n        record.result && \n        typeof record.result === 'string' && \n        record.result.includes('查询已启动')) {\n      \n      console.log(`✅ 处理查询ID: ${record.queryId}`);\n      \n      results.push({\n        json: {\n          id: record.id,\n          queryId: record.queryId,\n          originalResult: record.result,\n          createdAt: record.createdAt,\n          updatedAt: record.updatedAt,\n          status: 'pending_check',\n          message: `准备检查查询ID: ${record.queryId}`\n        }\n      });\n    } else {\n      console.log(`❌ 跳过记录 ID ${record.id}: queryId='${record.queryId}' (${typeof record.queryId}), result='${record.result}'`);\n    }\n  }\n  \n  console.log(`找到 ${results.length} 个需要检查的查询`);\n  \n  if (results.length === 0) {\n    return {\n      json: {\n        status: 'no_valid_queries',\n        message: '没有找到需要检查的有效查询',\n        totalRecords: inputData.length\n      }\n    };\n  }\n  \n  return results;\n}\n\n// 如果输入是单个对象\nconst record = inputData;\n\nconsole.log('单个记录检查:', {\n  id: record.id,\n  queryId: record.queryId,\n  result: record.result,\n  hasQueryId: !!record.queryId,\n  queryIdType: typeof record.queryId\n});\n\nif (record.queryId && \n    record.queryId !== null && \n    record.queryId !== 'null' && \n    typeof record.queryId === 'string' && \n    record.queryId.trim() !== '' &&\n    record.result && \n    typeof record.result === 'string' && \n    record.result.includes('查询已启动')) {\n  \n  return {\n    json: {\n      id: record.id,\n      queryId: record.queryId,\n      originalResult: record.result,\n      createdAt: record.createdAt,\n      updatedAt: record.updatedAt,\n      status: 'pending_check',\n      message: `准备检查查询ID: ${record.queryId}`\n    }\n  };\n} else {\n  return {\n    json: {\n      id: record.id,\n      queryId: record.queryId,\n      status: 'skipped',\n      message: `跳过检查: queryId='${record.queryId}' (${typeof record.queryId}), result='${record.result}'`,\n      reason: 'queryId为空或result不包含查询已启动'\n    }\n  };\n}"
      },
      "id": "batch-query-filter-node",
      "name": "过滤待检查查询",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending_check",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-query-validity-node",
      "name": "检查查询有效性",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        -700
      ]
    },
    {
      "parameters": {
        "jsCode": "// 跳过无效查询\nconst data = $json;\n\nconsole.log('跳过无效查询:', data);\n\nreturn {\n  json: {\n    ...data,\n    status: 'skipped',\n    message: `跳过无效查询: ${data.message || '查询条件不满足'}`,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "skip-invalid-query-node",
      "name": "跳过无效查询",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        -600
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://organ-execute-contract-coaches.trycloudflare.com/api/async/status/{{ $json.queryId || 'invalid' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "batch-status-check-node",
      "name": "批量检查查询状态",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -700
      ]
    },
    {
      "parameters": {
        "jsCode": "// 处理查询状态检查结果\nconst statusData = $json;\nconst originalRecord = $('过滤待检查查询').item.json;\n\nconsole.log('查询状态检查结果:', {\n  queryId: originalRecord.queryId,\n  status: statusData.status,\n  success: statusData.success\n});\n\nif (!statusData.success) {\n  return {\n    json: {\n      id: originalRecord.id,\n      queryId: originalRecord.queryId,\n      status: 'error',\n      error: statusData.error || '状态检查失败',\n      message: `查询 ${originalRecord.queryId} 状态检查失败`,\n      originalResult: originalRecord.originalResult\n    }\n  };\n}\n\nconst result = statusData.result;\n\n// 检查查询是否完成\nif (result && result.status === 'completed' && result.data) {\n  // 查询已完成，准备导出Excel\n  const queryData = Array.isArray(result.data) ? result.data : [result.data];\n  const rowCount = result.row_count || result.rowCount || queryData.length;\n  \n  console.log(`查询完成: ${originalRecord.queryId}, 记录数: ${rowCount}`);\n  \n  return {\n    json: {\n      id: originalRecord.id,\n      queryId: originalRecord.queryId,\n      status: 'completed',\n      rowCount: rowCount,\n      totalRows: result.total_rows || result.totalRows || rowCount,\n      executionTime: result.executionTime,\n      data: queryData,\n      message: `查询完成！返回 ${rowCount} 条记录`,\n      originalResult: originalRecord.originalResult,\n      readyForExport: true\n    }\n  };\n} else if (result && result.status === 'running') {\n  // 查询仍在运行\n  return {\n    json: {\n      id: originalRecord.id,\n      queryId: originalRecord.queryId,\n      status: 'running',\n      message: `查询仍在执行中: ${originalRecord.queryId}`,\n      originalResult: originalRecord.originalResult,\n      continueChecking: true\n    }\n  };\n} else {\n  // 其他状态\n  return {\n    json: {\n      id: originalRecord.id,\n      queryId: originalRecord.queryId,\n      status: result?.status || 'unknown',\n      message: `查询状态: ${result?.status || '未知'}`,\n      originalResult: originalRecord.originalResult\n    }\n  };\n}"
      },
      "id": "process-status-result-node",
      "name": "处理状态检查结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://organ-execute-contract-coaches.trycloudflare.com/api/async/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sql\": {{ $json.output.generatedSQL | json }},\n  \"database\": \"gmp\"\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "23558b87-2a3a-4d0d-8b25-e48a159c17f3",
      "name": "执行查询",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        -560
      ]
    },
    {
      "parameters": {
        "url": "=https://organ-execute-contract-coaches.trycloudflare.com/api/async/status/{{ $json.queryId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "10591d22-9d7f-4850-9374-64f96058eae5",
      "name": "确认查询",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        -560
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "77af13c4-564a-40ce-8800-2db037e0f859",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -616
      ],
      "webhookId": "34cf7270-117c-4f54-ad6f-99e065cc5ee6",
      "credentials": {
        "telegramApi": {
          "id": "iP798fEMdNNvWWUl",
          "name": "查数机器人"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
        "conditions": [
            {
                "id": "condition-1",
                "leftValue": "={{ $json.output.generatedSQL }}",
                "rightValue": "",
                "operator": {
                    "type": "string",
                    "operation": "notEmpty"
                }
            },
            {
                "id": "condition-2",
                "leftValue": "={{ $json.output.canExecute }}",
                "rightValue": "是",
                "operator": {
                    "type": "string",
                    "operation": "equals"
                }
            }
        ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d43c8454-53a3-41cc-9f46-638782338a0a",
      "name": "Check SQL Generation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        912,
        -468
      ]
    },
    {
      "parameters": {
        "jsCode": "// 处理SQL生成失败的情况\nconst originalMessage = $('Telegram Trigger').item.json.message;\nconst errorData = $json;\n\nlet errorMessage = `❌ *SQL生成失败*\\n\\n`;\nerrorMessage += `原始问题: ${originalMessage.text}\\n\\n`;\nerrorMessage += `错误信息: ${errorData.error || '无法将自然语言转换为SQL'}\\n\\n`;\nerrorMessage += `💡 *建议*:\\n`;\nerrorMessage += `• 请使用更具体的查询条件\\n`;\nerrorMessage += `• 例如: \"查询用户ID为123的游戏记录\"\\n`;\nerrorMessage += `• 或者: \"显示最近7天的交易数据\"`;\n\nreturn {\n  json: {\n    chatId: originalMessage.chat.id,\n    messageId: originalMessage.message_id,\n    replyText: errorMessage,\n    success: false,\n    error: errorData.error\n  }\n};"
      },
      "id": "212113b9-cf35-488c-ba8d-ad05191979b4",
      "name": "Handle SQL Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3952,
        -180
      ]
    },
    {
      "parameters": {
        "chatId": "=-1003129050838",
        "text": "={{ $json.success ? `📊 查询完成！\n\n✅ 成功查询到 {{ $json.rowCount }} 条记录\n📁 Excel文件: {{ $json.filename }}\n⏱️ 执行时间: {{ $json.executionTime }}ms\n\n{{ $json.downloadUrl ? '🔗 下载链接: ' + $json.downloadUrl : '文件已生成，请检查后端服务' }}\n\n{{ $json.message }}` : `❌ 查询失败\n\n{{ $json.error || $json.message }}` }}",
        "additionalFields": {}
      },
      "id": "8f825ed1-ed09-4e31-a998-e7be8629662a",
      "name": "发送消息",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4176,
        -396
      ],
      "webhookId": "0b8b7079-f8e8-4204-98c1-bbf783bd8189",
      "credentials": {
        "telegramApi": {
          "id": "iP798fEMdNNvWWUl",
          "name": "查数机器人"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "你是一个专业的SQL查询助手，专门为AWS Athena数据库生成准确的SQL查询。\n\n数据库信息：\n- 数据库名：gmp\n- 主要表：game_records\n\n表结构：\n- id (varchar): 记录ID，通常为16位以上数字，**只有数字，不包含任何前缀**\n- uid (varchar): 用户ID，格式如 'li-xxxxx' 或 'Userxxxxxxxx'\n- merchant_id (varchar): 商户ID\n- game_id (bigint): 游戏ID\n- game_code (varchar): 游戏代码，如 'gp_crash', 'gp_mines'\n- result (integer): 游戏结果，1表示赢，0表示输\n- currency (varchar): 货币类型，如 'USDT'\n- amount (double): 投注金额\n- pay_out (double): 支付金额\n- multiplier (varchar): 倍数\n- balance (varchar): 余额\n- detail (varchar): 详细信息\n- created_at (bigint): 创建时间戳（毫秒）\n- updated_at (bigint): 更新时间戳（毫秒）\n- provider (varchar): 提供商，常见值：'gp', 'popular'\n- merchant (varchar): 商户标识\n\n重要规则：\n1. 时间字段转换：FROM_UNIXTIME(created_at / 1000) 和 FROM_UNIXTIME(updated_at / 1000)\n2. 金额字段四舍五入：ROUND(CAST(amount AS DOUBLE), 2)\n3. 日期格式：DATE_FORMAT(FROM_UNIXTIME(created_at / 1000), '%Y-%m-%d %H:%i:%s')\n4. 限制结果数量：使用 LIMIT 100\n5. 默认包含条件：provider IN ('gp', 'popular')\n6. 时间范围查询：使用 BETWEEN 和 TO_UNIXTIME 函数\n\n**智能数据处理能力：**\n你具备强大的智能数据处理能力，能够：\n- 自动识别各种ID格式（PANDA-、GAME-、BET-、TRX-、TX-、ID-等前缀），并智能去除前缀，只保留纯数字部分\n- 自动识别用户ID格式（User前缀、li-前缀等）\n- 智能解析时间范围、游戏信息、商户信息\n- 自动应用默认过滤条件\n- 处理各种复杂查询场景\n\n**知识库案例参考：**\n{{ $json.knowledgeBaseContent }}\n\n**调试信息：**\n- 知识库内容长度：{{ $json.knowledgeBaseContent.length || 0 }}\n- 是否有知识库：{{ $json.knowledgeBaseContent ? '是' : '否' }}\n\n请基于以上信息、数据库结构和知识库中的相关案例，智能分析用户查询并生成准确的SQL查询语句。\n\n**重要语言要求：所有输出必须使用中文！**\n\n请严格按照以下JSON格式返回结果（所有字段值必须用中文）：\n{\n  \"queryType\": \"场景类型（中文）\",\n  \"confidence\": \"高/中/低\",\n  \"extractedInfo\": {\n    \"ids\": [\"提取的ID列表（已智能去除前缀，纯数字）\"],\n    \"userInfo\": \"用户相关信息（中文）\",\n    \"timeRange\": \"时间范围信息（中文）\",\n    \"gameInfo\": \"游戏相关信息（中文）\",\n    \"merchantInfo\": \"商户相关信息（中文）\"\n  },\n  \"missingInfo\": [\"缺失的关键信息（中文）\"],\n  \"suggestedQuestions\": [\"建议的澄清问题（中文）\"],\n  \"canExecute\": true/false,\n  \"reason\": \"判断理由（中文）\",\n  \"generatedSQL\": \"生成的SQL查询语句（ID字段必须使用纯数字）\",\n  \"knowledgeBaseUsed\": \"是否使用了知识库案例（是/否）\"\n}\n\n重要：\n1. 只返回JSON，不要包含任何解释文字\n2. 所有描述性字段值必须使用中文\n3. SQL语句保持英文不变\n4. 优先参考知识库中的相似案例\n5. 在reason中说明是否参考了知识库案例\n6. **关键：智能处理各种ID格式，在SQL中只使用纯数字ID，自动去除任何前缀**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        264,
        -616
      ],
      "id": "43230883-df49-4109-985b-5eebd1d0261f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"queryType\": \"string\",\n  \"confidence\": \"number\",\n  \"extractedInfo\": {\n    \"ids\": \"array\",\n    \"userInfo\": \"string\",\n    \"timeRange\": \"string\",\n    \"gameInfo\": \"string\",\n    \"merchantInfo\": \"string\"\n  },\n  \"missingInfo\": \"array\",\n  \"suggestedQuestions\": \"array\",\n  \"canExecute\": \"boolean\",\n  \"reason\": \"string\",\n  \"generatedSQL\": \"string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        544,
        -392
      ],
      "id": "1d897838-1364-4160-aab8-eb06ff67771e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1360,
        -960
      ],
      "id": "085986e1-b50a-477e-8f24-cad5dd490180",
      "name": "Insert documents"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/187GD-WKLn_EzyO_eEGp-jP0HgKJlQ53_QOrvbdrk1e0/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1088,
        -1120
      ],
      "id": "d86282b4-58b3-4995-a2e6-ff96123e86a9",
      "name": "知识库",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "jAvryPQyvSAJVdqL",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1368,
        -736
      ],
      "id": "04957dac-c2b1-4b91-bd3f-652efc11a6bf",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "H7Wmt2XjAhpn1uGH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1496,
        -736
      ],
      "id": "3f702793-562c-45db-b4d5-6fae65e65b07",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        -392
      ],
      "id": "b0906921-455e-4652-a427-94c49d967aee",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "H7Wmt2XjAhpn1uGH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        -184
      ],
      "id": "9b966444-2092-44d1-80ca-a58dc2c76a15",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "H7Wmt2XjAhpn1uGH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 知识库内容解析器 - 将AI Agent输出转换为知识库文档\nconst inputData = $json;\n\n// 检查AI Agent的输出结构\nlet aiOutput;\nif (inputData.output) {\n  // 如果是结构化输出\n  aiOutput = inputData.output;\n} else if (inputData.text) {\n  // 如果是文本输出，尝试解析JSON\n  try {\n    const jsonMatch = inputData.text.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      aiOutput = JSON.parse(jsonMatch[0]);\n    } else {\n      aiOutput = { error: '无法解析AI输出为JSON' };\n    }\n  } catch (error) {\n    aiOutput = { error: 'JSON解析失败: ' + error.message };\n  }\n} else {\n  aiOutput = { error: 'AI Agent输出不完整' };\n}\n\n// 提取关键信息\nconst queryType = aiOutput.queryType || '未知场景';\nconst confidence = aiOutput.confidence || 'Low';\nconst extractedInfo = aiOutput.extractedInfo || {};\nconst generatedSQL = aiOutput.generatedSQL || '';\nconst canExecute = aiOutput.canExecute || false;\n\n// 如果查询可以执行，创建知识库文档\nif (canExecute === true && generatedSQL) {\n  // 创建知识库文档内容\n  const knowledgeContent = `# ${queryType}场景案例\n\n## 查询信息\n- **场景类型**: ${queryType}\n- **置信度**: ${confidence}\n- **可执行**: 是\n\n## 提取的信息\n- **ID列表**: ${Array.isArray(extractedInfo.ids) ? extractedInfo.ids.join(', ') : (extractedInfo.ids || 'N/A')}\n- **用户信息**: ${extractedInfo.userInfo || 'N/A'}\n- **时间范围**: ${extractedInfo.timeRange || 'N/A'}\n- **游戏信息**: ${extractedInfo.gameInfo || 'N/A'}\n- **商户信息**: ${extractedInfo.merchantInfo || 'N/A'}\n\n## 生成的SQL\n\\`\\`\\`sql\n${generatedSQL}\n\\`\\`\\`\n\n## 使用场景\n当用户提供类似的查询请求时，可以使用此SQL模板进行查询。\n\n## 注意事项\n- 确保数据库连接正常\n- 检查时间范围是否合理\n- 验证ID格式是否正确\n- 默认包含provider过滤条件：provider IN ('gp', 'popular')\n- 限制结果数量使用LIMIT 100\n`;\n\n  // 创建知识库文档对象\n  const knowledgeDocument = {\n    content: knowledgeContent,\n    metadata: {\n      scenarioType: queryType,\n      confidence: confidence,\n      canExecute: 'Yes',\n      extractedInfo: extractedInfo,\n      generatedSQL: generatedSQL,\n      timestamp: new Date().toISOString(),\n      source: 'ai-agent-output',\n      category: 'query-scenario',\n      priority: confidence === 'High' ? 'high' : 'medium'\n    }\n  };\n\n  return {\n    json: {\n      knowledgeDocument: knowledgeDocument,\n      shouldAddToKnowledgeBase: true,\n      scenarioType: queryType,\n      confidence: confidence,\n      extractedInfo: extractedInfo,\n      generatedSQL: generatedSQL,\n      canExecute: canExecute,\n      // 为下一步准备的数据\n      originalMessage: $('Telegram Trigger').item.json.message.text || 'Unknown message',\n      chatId: $('Telegram Trigger').item.json.message.chat.id || '',\n      messageId: $('Telegram Trigger').item.json.message.message_id || '',\n      // 调试信息\n      debug: {\n        hasOutput: !!inputData.output,\n        hasText: !!inputData.text,\n        parsedOutput: aiOutput\n      }\n    }\n  };\n} else {\n  // 如果查询不能执行，记录失败案例\n  return {\n    json: {\n      shouldAddToKnowledgeBase: false,\n      scenarioType: queryType,\n      confidence: confidence,\n      canExecute: canExecute,\n      reason: 'Query cannot be executed',\n      originalMessage: $('Telegram Trigger').item.json.message.text || 'Unknown message',\n      chatId: $('Telegram Trigger').item.json.message.chat.id || '',\n      messageId: $('Telegram Trigger').item.json.message.message_id || '',\n      // 调试信息\n      debug: {\n        hasOutput: !!inputData.output,\n        hasText: !!inputData.text,\n        parsedOutput: aiOutput,\n        error: aiOutput.error || 'Unknown error'\n      }\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -856
      ],
      "id": "bfde190c-69f3-4560-971d-e324bb0c64de",
      "name": "场景分析"
    },
    {
      "parameters": {
        "jsCode": "// 知识库文档格式化器 - 将场景分析输出转换为Insert Documents需要的格式\nconst inputData = $json;\n\n// 检查是否需要添加到知识库\nif (!inputData.shouldAddToKnowledgeBase) {\n  return {\n    json: {\n      skip: true,\n      reason: \"Query cannot be executed, skipping knowledge base update\",\n      debug: inputData.debug\n    }\n  };\n}\n\n// 提取关键信息\nconst scenarioType = inputData.scenarioType || '未知场景';\nconst confidence = inputData.confidence || 'Low';\nconst extractedInfo = inputData.extractedInfo || {};\nconst generatedSQL = inputData.generatedSQL || '';\nconst originalMessage = inputData.originalMessage || 'Unknown message';\n\n// 创建知识库文档内容\nconst knowledgeContent = `# ${scenarioType}场景案例\n\n## 查询信息\n- **场景类型**: ${scenarioType}\n- **置信度**: ${confidence}\n- **可执行**: 是\n\n## 原始查询消息\n${originalMessage}\n\n## 提取的信息\n- **ID列表**: ${Array.isArray(extractedInfo.ids) ? extractedInfo.ids.join(', ') : (extractedInfo.ids || 'N/A')}\n- **用户信息**: ${extractedInfo.userInfo || 'N/A'}\n- **时间范围**: ${extractedInfo.timeRange || 'N/A'}\n- **游戏信息**: ${extractedInfo.gameInfo || 'N/A'}\n- **商户信息**: ${extractedInfo.merchantInfo || 'N/A'}\n\n## 生成的SQL查询\n\\`\\`\\`sql\n${generatedSQL}\n\\`\\`\\`\n\n## 使用场景\n当用户提供类似的查询请求时，可以使用此SQL模板进行查询。\n\n## 注意事项\n- 确保数据库连接正常\n- 检查时间范围是否合理\n- 验证ID格式是否正确\n- 默认包含provider过滤条件：provider IN ('gp', 'popular')\n- 限制结果数量使用LIMIT 100\n\n## 相关场景\n- ID查询场景\n- 用户查询场景\n- 商户查询场景\n- 混合查询场景\n`;\n\n// 创建知识库文档对象（Insert Documents需要的格式）\nconst knowledgeDocument = {\n  content: knowledgeContent,\n  metadata: {\n    scenarioType: scenarioType,\n    confidence: confidence,\n    canExecute: 'Yes',\n    extractedInfo: extractedInfo,\n    generatedSQL: generatedSQL,\n    originalMessage: originalMessage,\n    timestamp: new Date().toISOString(),\n    source: 'ai-agent-output',\n    category: 'query-scenario',\n    priority: confidence === 'High' ? 'high' : 'medium',\n    // 添加搜索关键词\n    keywords: [\n      scenarioType,\n      Array.isArray(extractedInfo.ids) && extractedInfo.ids.length > 0 ? 'ID查询' : '',\n      extractedInfo.userInfo ? '用户查询' : '',\n      extractedInfo.merchantInfo ? '商户查询' : '',\n      'SQL查询',\n      '数据库查询'\n    ].filter(k => k !== ''),\n    // 添加场景标签\n    tags: [\n      'query-scenario',\n      'sql-generation',\n      'ai-learning',\n      scenarioType.toLowerCase().replace(/\\s+/g, '-')\n    ]\n  }\n};\n\n// 返回Insert Documents需要的格式\nreturn {\n  json: {\n    documents: [knowledgeDocument],\n    // 保留原始数据用于后续处理\n    originalData: inputData,\n    // 添加处理状态\n    processed: true,\n    knowledgeBaseUpdated: true,\n    documentCount: 1,\n    // 调试信息\n    debug: {\n      scenarioType: scenarioType,\n      confidence: confidence,\n      hasGeneratedSQL: !!generatedSQL,\n      extractedInfoKeys: Object.keys(extractedInfo)\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -856
      ],
      "id": "0440f552-8ded-4d51-9893-083577fb58cd",
      "name": "知识库文档格式化"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        256,
        -392
      ],
      "id": "4201416c-664c-485a-9e33-8121c5b03285",
      "name": "Query Data Tool"
    },
    {
      "parameters": {
        "operation": "update",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1712,
        -960
      ],
      "id": "404920ac-83a7-4c41-8fd8-59fe55e2fc7c",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "jAvryPQyvSAJVdqL",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Wait 20 Seconds": {
      "main": [
        [
          {
            "node": "确认查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Completed (1)": {
      "main": [
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Seconds": {
      "main": [
        [
          {
            "node": "Check Status (2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status (2)": {
      "main": [
        [
          {
            "node": "Check Completed (2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Completed (2)": {
      "main": [
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30 Seconds (2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Seconds (2)": {
      "main": [
        [
          {
            "node": "Check Status (3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status (3)": {
      "main": [
        [
          {
            "node": "Check Completed (3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Completed (3)": {
      "main": [
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Minutes": {
      "main": [
        [
          {
            "node": "Check Status (Final)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status (Final)": {
      "main": [
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "执行查询": {
      "main": [
        [
          {
            "node": "记录查询ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "记录查询ID": {
      "main": [
        [
          {
            "node": "定期检查查询状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "定期检查查询状态": {
      "main": [
        [
          {
            "node": "Wait 20 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "确认查询": {
      "main": [
        [
          {
            "node": "Check Completed (1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "过滤待检查查询": {
      "main": [
        [
          {
            "node": "检查查询有效性",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查查询有效性": {
      "main": [
        [
          {
            "node": "批量检查查询状态",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "跳过无效查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "批量检查查询状态": {
      "main": [
        [
          {
            "node": "处理状态检查结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理状态检查结果": {
      "main": [
        [
          {
            "node": "Excel 导出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SQL Generation": {
      "main": [
        [
          {
            "node": "执行查询",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle SQL Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle SQL Error": {
      "main": [
        [
          {
            "node": "发送消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Result": {
      "main": [
        [
          {
            "node": "Excel 导出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel 导出": {
      "main": [
        [
          {
            "node": "生成 Excel 文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成 Excel 文件": {
      "main": [
        [
          {
            "node": "发送消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "场景分析",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check SQL Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SQL Generation": {
      "main": [
        [
          {
            "node": "执行查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "知识库": {
      "main": [
        [
          {
            "node": "Insert documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Insert documents",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert documents",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "场景分析": {
      "main": [
        [
          {
            "node": "知识库文档格式化",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "知识库文档格式化": {
      "main": [
        [
          {
            "node": "Insert documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insert documents": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae6f2eb4-2849-4df2-9b0a-0dafc1b4f0f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62d009a67fe5901697153ecb2e26ec4404d739c9e5b61b72ca043aa4cd52bd0d"
  },
  "id": "qiJg8f9r09gECAVO",
  "tags": [
    {
      "createdAt": "2025-10-10T06:41:43.947Z",
      "updatedAt": "2025-10-10T06:41:43.947Z",
      "id": "BLN8K00VPr21quWc",
      "name": "查数工具"
    },
    {
      "name": "Dynamic Query System",
      "id": "AvUbemrthNJcvJ2L",
      "createdAt": "2025-10-14T06:03:35.772Z",
      "updatedAt": "2025-10-14T06:03:35.772Z"
    }
  ]
}