Auto data/n8n-workflow-examples.json
{
  "name": "Athena Query Examples",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://your-server:8000/api/webhook/query/sql",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$credentials.apiKey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "SELECT COUNT(*) as daily_users FROM user_activity WHERE DATE(activity_date) = DATE_SUB(CURDATE(), INTERVAL 1 DAY)"
            },
            {
              "name": "database",
              "value": "production_db"
            },
            {
              "name": "maxRows",
              "value": 100
            }
          ]
        },
        "options": {}
      },
      "name": "Query Athena - Daily Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// 处理查询结果\nconst response = $input.item.json;\n\nif (response.success) {\n  const data = response.data.rows[0];\n  \n  return {\n    json: {\n      date: new Date().toISOString().split('T')[0],\n      dailyUsers: data.daily_users,\n      executionTime: response.data.executionTime,\n      cost: response.data.cost\n    }\n  };\n} else {\n  throw new Error('Query failed: ' + response.error);\n}"
      },
      "name": "Process Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/URL",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=昨日活跃用户: {{$json.dailyUsers}} 人\\n查询时间: {{$json.executionTime}}ms\\n成本: ${{$json.cost}}"
            }
          ]
        }
      },
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {},
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "athena-natural-query"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://your-server:8000/api/webhook/query/natural",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$credentials.apiKey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$json.body.query}}"
            },
            {
              "name": "maxRows",
              "value": 50
            }
          ]
        }
      },
      "name": "Natural Language Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Query Athena - Daily Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Athena - Daily Users": {
      "main": [
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Result": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Natural Language Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Natural Language Query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "1"
}








