Auto data/n8n-lark-sheet-fetch-config.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Lark表格展开器：将sheets数组展开为单个请求\nconst inputs = $input.all();\n\nconsole.log(\"=== Lark表格展开器开始 ===\");\nconsole.log(\"📊 输入数据数量:\", inputs.length);\n\n// 通常输入只有一个，包含所有sheets信息\nconst inputData = inputs[0].json;\n\n// 提取基本信息\nconst spreadsheetToken = inputData.data?.spreadsheetToken || inputData.spreadsheetToken;\nconst tenantAccessToken = inputData.tenant_access_token;\nconst sheets = inputData.data?.sheets || [];\n\nconsole.log(`📋 电子表格Token: ${spreadsheetToken}`);\nconsole.log(`🔑 访问令牌: ${tenantAccessToken ? '已获取' : '缺失'}`);\nconsole.log(`📊 Sheets数量: ${sheets.length}`);\n\nif (!spreadsheetToken) {\n  console.error(\"❌ 缺少spreadsheetToken\");\n  return [];\n}\n\nif (!tenantAccessToken) {\n  console.error(\"❌ 缺少tenant_access_token\");\n  return [];\n}\n\n// 展开每个sheet为独立请求\nconst expandedRequests = sheets.map((sheet, index) => {\n  console.log(`\\n📄 Sheet ${index + 1}:`);\n  console.log(`   sheetId: ${sheet.sheetId}`);\n  console.log(`   title: ${sheet.title}`);\n  console.log(`   rowCount: ${sheet.rowCount}`);\n  console.log(`   columnCount: ${sheet.columnCount}`);\n  \n  // 生成HTTP请求URL（使用A列到最后一列，最大行数）\n  // 列号转换：1->A, 2->B, ..., 26->Z, 27->AA, 28->AB...\n  function numberToColumnLetter(num) {\n    let result = '';\n    while (num > 0) {\n      num--;\n      result = String.fromCharCode(65 + (num % 26)) + result;\n      num = Math.floor(num / 26);\n    }\n    return result || 'A';\n  }\n  \n  const lastColumn = numberToColumnLetter(sheet.columnCount);\n  const range = `${sheet.sheetId}!A1:${lastColumn}${sheet.rowCount}`;\n  const url = `https://open.larksuite.com/open-apis/sheets/v2/spreadsheets/${spreadsheetToken}/values/${range}`;\n  \n  return {\n    sheet_index: sheet.index,\n    sheet_id: sheet.sheetId,\n    sheet_title: sheet.title,\n    row_count: sheet.rowCount,\n    column_count: sheet.columnCount,\n    range: range,\n    url: url,\n    spreadsheet_token: spreadsheetToken,\n    tenant_access_token: tenantAccessToken,\n    headers: {\n      Authorization: `Bearer ${tenantAccessToken}`,\n      'Content-Type': 'application/json'\n    }\n  };\n});\n\nconsole.log(`\\n✅ 成功展开 ${expandedRequests.length} 个请求`);\n\n// 返回展开后的数组\nreturn expandedRequests.map(req => ({ json: req }));"
      },
      "name": "Lark Sheet展开器",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.Authorization }}"
            },
            {
              "name": "Content-Type",
              "value": "={{ $json.headers['Content-Type'] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "批量拉取Sheet数据",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sheet_info",
              "name": "sheet_info",
              "value": "={{ $('Lark Sheet展开器').item.json }}",
              "type": "object"
            },
            {
              "id": "response_data",
              "name": "response_data",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "name": "合并数据",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.response_data.code }}",
              "operation": "notEqual",
              "value2": "0"
            }
          ]
        },
        "options": {}
      },
      "name": "检查错误",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {},
      "name": "错误处理",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sheet_id",
              "name": "sheet_id",
              "value": "={{ $json.sheet_info.sheet_id }}",
              "type": "string"
            },
            {
              "id": "sheet_title",
              "name": "sheet_title",
              "value": "={{ $json.sheet_info.sheet_title }}",
              "type": "string"
            },
            {
              "id": "data_values",
              "name": "data_values",
              "value": "={{ $json.response_data.data.values }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "name": "格式化输出",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 180]
    }
  ],
  "connections": {
    "Lark Sheet展开器": {
      "main": [
        [
          {
            "node": "批量拉取Sheet数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "批量拉取Sheet数据": {
      "main": [
        [
          {
            "node": "合并数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并数据": {
      "main": [
        [
          {
            "node": "检查错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查错误": {
      "main": [
        [
          {
            "node": "格式化输出",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "错误处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}








