Auto data/backend/complete-workflow-config.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// 格式化查询结果为Telegram消息\nconst inputData = $input.all();\n\nconsole.log('=== 格式化查询结果 ===');\nconsole.log('输入数据类型:', typeof inputData);\nconsole.log('输入数据长度:', inputData.length);\n\n// 检查输入数据\nif (!inputData || !Array.isArray(inputData) || inputData.length === 0) {\n  return {\n    success: false,\n    error: '输入数据格式不正确',\n    debugInfo: {\n      inputType: typeof inputData,\n      isArray: Array.isArray(inputData),\n      length: inputData ? inputData.length : 'undefined'\n    }\n  };\n}\n\n// 获取查询结果数据\nlet queryResult = inputData[0].json;\n\nconsole.log('查询结果数据类型:', typeof queryResult);\nconsole.log('查询结果是否为数组:', Array.isArray(queryResult));\n\n// 如果查询结果是数组，取第一个元素\nif (Array.isArray(queryResult)) {\n  queryResult = queryResult[0];\n  console.log('查询结果是数组，取第一个元素');\n}\n\nconsole.log('处理后的查询结果:', queryResult);\n\n// 检查查询结果是否包含必要字段\nif (!queryResult || !queryResult.id) {\n  return {\n    success: false,\n    error: '查询结果格式不正确，缺少必要字段',\n    debugInfo: {\n      hasId: !!queryResult?.id,\n      queryResultKeys: queryResult ? Object.keys(queryResult) : 'undefined'\n    }\n  };\n}\n\n// 格式化查询结果为可读消息\nfunction formatQueryResult(result) {\n  const {\n    id,\n    uid,\n    merchant_id,\n    game_id,\n    game_code,\n    result: gameResult,\n    currency,\n    amount,\n    pay_out,\n    multiplier,\n    balance,\n    created_at,\n    updated_at\n  } = result;\n\n  // 解析游戏详情\n  let gameDetail = '';\n  try {\n    if (result.detail) {\n      const detail = JSON.parse(result.detail);\n      if (detail.recall) {\n        const recall = JSON.parse(detail.recall);\n        gameDetail = `\\n🎮 游戏详情:\\n- 倍数序列: ${recall.multis ? recall.multis.slice(0, 5).join(', ') + '...' : 'N/A'}\\n- 种子: ${detail.seed?.seed || 'N/A'}`;\n      }\n    }\n  } catch (e) {\n    console.log('解析游戏详情失败:', e.message);\n  }\n\n  // 格式化消息\n  const message = `🔍 **查询结果**\n\n📋 **基本信息:**\n- 投注ID: \\`${id}\\`\n- 用户UID: \\`${uid}\\`\n- 商户ID: \\`${merchant_id}\\`\n- 游戏ID: \\`${game_id}\\`\n\n🎯 **游戏信息:**\n- 游戏代码: \\`${game_code}\\`\n- 游戏结果: ${gameResult === '1' ? '✅ 获胜' : '❌ 失败'}\n- 倍数: \\`${multiplier}x\\`\n\n💰 **金额信息:**\n- 投注金额: \\`${amount} ${currency}\\`\n- 派奖金额: \\`${pay_out} ${currency}\\`\n- 余额: \\`${balance} ${currency}\\`\n\n⏰ **时间信息:**\n- 创建时间: \\`${created_at}\\`\n- 更新时间: \\`${updated_at}\\`${gameDetail}\n\n✅ 查询完成，数据已导出为CSV文件`;\n\n  return message;\n}\n\n// 生成格式化消息\nconst formattedMessage = formatQueryResult(queryResult);\n\nconsole.log('格式化消息长度:', formattedMessage.length);\n\n// 返回结果\nconst result = {\n  success: true,\n  message: formattedMessage,\n  queryData: queryResult,\n  summary: {\n    betId: queryResult.id,\n    uid: queryResult.uid,\n    merchantId: queryResult.merchant_id,\n    gameCode: queryResult.game_code,\n    result: queryResult.result === '1' ? '获胜' : '失败',\n    amount: queryResult.amount,\n    currency: queryResult.currency,\n    payout: queryResult.pay_out,\n    multiplier: queryResult.multiplier\n  }\n};\n\nconsole.log('格式化完成:', result.summary);\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        240
      ],
      "id": "format-query-result",
      "name": "格式化查询结果"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ebooks-life-point-interactions.trycloudflare.com/api/export/query-result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "csv"
            },
            {
              "name": "queryId",
              "value": "={{ $json.queryId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        240
      ],
      "id": "export-query-result",
      "name": "导出查询结果"
    },
    {
      "parameters": {
        "jsCode": "// 准备发送到Telegram的数据\nconst inputData = $input.all();\n\nconsole.log('=== 准备Telegram数据 ===');\nconsole.log('输入数据类型:', typeof inputData);\nconsole.log('输入数据长度:', inputData.length);\n\n// 检查输入数据\nif (!inputData || !Array.isArray(inputData) || inputData.length < 2) {\n  return {\n    success: false,\n    error: '输入数据格式不正确，需要格式化消息和导出结果',\n    debugInfo: {\n      inputType: typeof inputData,\n      isArray: Array.isArray(inputData),\n      length: inputData ? inputData.length : 'undefined'\n    }\n  };\n}\n\n// 获取格式化消息和导出结果\nlet formattedMessage = inputData[0].json;\nlet exportResult = inputData[1].json;\n\nconsole.log('格式化消息类型:', typeof formattedMessage);\nconsole.log('导出结果类型:', typeof exportResult);\n\n// 如果数据是数组，取第一个元素\nif (Array.isArray(formattedMessage)) {\n  formattedMessage = formattedMessage[0];\n}\nif (Array.isArray(exportResult)) {\n  exportResult = exportResult[0];\n}\n\nconsole.log('处理后的格式化消息:', formattedMessage);\nconsole.log('处理后的导出结果:', exportResult);\n\n// 检查必要字段\nif (!formattedMessage || !formattedMessage.message) {\n  return {\n    success: false,\n    error: '格式化消息数据不正确',\n    debugInfo: {\n      hasMessage: !!formattedMessage?.message,\n      formattedMessageKeys: formattedMessage ? Object.keys(formattedMessage) : 'undefined'\n    }\n  };\n}\n\nif (!exportResult || !exportResult.data || !exportResult.data.downloadUrls) {\n  return {\n    success: false,\n    error: '导出结果数据不正确',\n    debugInfo: {\n      hasData: !!exportResult?.data,\n      hasDownloadUrls: !!exportResult?.data?.downloadUrls,\n      exportResultKeys: exportResult ? Object.keys(exportResult) : 'undefined'\n    }\n  };\n}\n\n// 获取下载URL\nconst downloadUrl = exportResult.data.downloadUrls[0];\nif (!downloadUrl) {\n  return {\n    success: false,\n    error: '没有找到下载链接',\n    debugInfo: {\n      downloadUrls: exportResult.data.downloadUrls\n    }\n  };\n}\n\n// 构建完整的文件URL\nconst baseUrl = 'https://ebooks-life-point-interactions.trycloudflare.com';\nconst fullFileUrl = baseUrl + downloadUrl.url;\n\nconsole.log('完整文件URL:', fullFileUrl);\n\n// 准备Telegram发送数据\nconst telegramData = {\n  // Telegram配置 - 这些值需要从环境变量或配置中获取\n  telegramBotToken: 'YOUR_BOT_TOKEN', // 需要替换为实际的Bot Token\n  chatId: -1003129050838, // 从查询结果中获取的chatId\n  \n  // 消息内容\n  message: formattedMessage.message,\n  \n  // 文件信息\n  fileUrl: fullFileUrl,\n  fileName: downloadUrl.filename,\n  fileSize: downloadUrl.size,\n  fileRows: downloadUrl.rows,\n  \n  // 查询摘要\n  summary: formattedMessage.summary,\n  \n  // 导出信息\n  exportInfo: {\n    queryId: exportResult.data.queryId,\n    format: exportResult.data.format,\n    totalRows: exportResult.data.totalRows,\n    files: exportResult.data.files\n  }\n};\n\nconsole.log('准备完成的Telegram数据:', {\n  messageLength: telegramData.message.length,\n  fileName: telegramData.fileName,\n  fileSize: telegramData.fileSize,\n  fileRows: telegramData.fileRows\n});\n\n// 返回结果\nconst result = {\n  success: true,\n  telegramData: telegramData,\n  message: `准备完成！将发送${telegramData.fileRows}行数据到Telegram群组`,\n  debugInfo: {\n    messageLength: telegramData.message.length,\n    fileName: telegramData.fileName,\n    fileSize: telegramData.fileSize,\n    fileRows: telegramData.fileRows,\n    downloadUrl: fullFileUrl\n  }\n};\n\nconsole.log('数据准备完成:', result.message);\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        240
      ],
      "id": "prepare-telegram-data",
      "name": "准备Telegram数据"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $json.telegramData.telegramBotToken }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.telegramData.chatId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.telegramData.message }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        140
      ],
      "id": "send-telegram-message",
      "name": "发送Telegram消息"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $json.telegramData.telegramBotToken }}/sendDocument",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.telegramData.chatId }}"
            },
            {
              "name": "caption",
              "value": "📊 查询结果CSV文件\\n\\n文件信息:\\n- 文件名: {{ $json.telegramData.fileName }}\\n- 文件大小: {{ $json.telegramData.fileSize }} 字节\\n- 数据行数: {{ $json.telegramData.fileRows }} 行\\n\\n下载链接: {{ $json.telegramData.fileUrl }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            },
            {
              "name": "document",
              "value": "={{ $json.telegramData.fileUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        340
      ],
      "id": "send-telegram-file",
      "name": "发送Telegram文件"
    }
  ],
  "connections": {
    "导出查询结果": {
      "main": [
        [
          {
            "node": "格式化查询结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化查询结果": {
      "main": [
        [
          {
            "node": "准备Telegram数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备Telegram数据": {
      "main": [
        [
          {
            "node": "发送Telegram消息",
            "type": "main",
            "index": 0
          },
          {
            "node": "发送Telegram文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62d009a67fe5901697153ecb2e26ec4404d739c9e5b61b72ca043aa4cd52bd0d"
  }
}









