Auto data/n8n-workflows/2-scheduled-reports.json
{
  "name": "定时查询报告 - 每日数据报表",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "定时触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "每天上午9点触发"
    },
    {
      "parameters": {
        "jsCode": "// 构建昨日数据查询\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst dateStr = yesterday.toISOString().split('T')[0];\n\nreturn {\n  json: {\n    reportDate: dateStr,\n    reportName: `每日数据报表_${dateStr}`,\n    queries: [\n      {\n        name: \"新增用户数\",\n        sql: `SELECT COUNT(DISTINCT user_id) as new_users FROM users WHERE DATE(created_at) = DATE '${dateStr}'`,\n        description: \"昨日新注册用户数\"\n      },\n      {\n        name: \"活跃用户数\",\n        sql: `SELECT COUNT(DISTINCT user_id) as active_users FROM user_activity WHERE DATE(activity_date) = DATE '${dateStr}'`,\n        description: \"昨日活跃用户数\"\n      },\n      {\n        name: \"充值数据\",\n        sql: `SELECT COUNT(*) as total_transactions, SUM(amount) as total_amount, COUNT(DISTINCT user_id) as paying_users FROM transactions WHERE DATE(transaction_date) = DATE '${dateStr}' AND status = 'success'`,\n        description: \"昨日充值统计\"\n      },\n      {\n        name: \"按游戏收入统计\",\n        sql: `SELECT game_name, COUNT(*) as transactions, SUM(amount) as revenue FROM transactions WHERE DATE(transaction_date) = DATE '${dateStr}' AND status = 'success' GROUP BY game_name ORDER BY revenue DESC LIMIT 10`,\n        description: \"昨日各游戏收入Top10\"\n      }\n    ]\n  }\n};"
      },
      "id": "build-queries",
      "name": "构建查询",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "queries",
        "options": {}
      },
      "id": "split-queries",
      "name": "拆分查询",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://your-server:8000/api/webhook/query/sql",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"sql\": \"{{ $json.sql }}\",\n  \"maxRows\": 1000,\n  \"timeout\": 60000\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "execute-query",
      "name": "执行查询",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "athena-api-key",
          "name": "Athena API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 汇总所有查询结果\nconst items = $input.all();\nconst reportDate = items[0].json.reportDate;\nconst results = [];\n\nfor (const item of items) {\n  const queryName = item.json.name;\n  const queryDesc = item.json.description;\n  const queryResult = item.json.apiResponse;\n  \n  if (queryResult && queryResult.success) {\n    results.push({\n      name: queryName,\n      description: queryDesc,\n      data: queryResult.data.rows,\n      rowCount: queryResult.data.rowCount\n    });\n  }\n}\n\nreturn {\n  json: {\n    reportDate: reportDate,\n    generatedAt: new Date().toISOString(),\n    results: results\n  }\n};"
      },
      "id": "aggregate-results",
      "name": "汇总结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 格式化为Excel数据\nconst { reportDate, results, generatedAt } = $input.item.json;\n\n// 构建Excel数据\nconst excelData = [];\n\n// 标题行\nexcelData.push(['每日数据报表']);\nexcelData.push(['报表日期', reportDate]);\nexcelData.push(['生成时间', new Date(generatedAt).toLocaleString('zh-CN')]);\nexcelData.push([]);\n\n// 添加各个指标\nfor (const result of results) {\n  excelData.push([result.name]);\n  excelData.push(['说明', result.description]);\n  \n  // 添加数据\n  if (result.data && result.data.length > 0) {\n    // 表头\n    const headers = Object.keys(result.data[0]);\n    excelData.push(headers);\n    \n    // 数据行\n    for (const row of result.data) {\n      const values = headers.map(h => row[h]);\n      excelData.push(values);\n    }\n  } else {\n    excelData.push(['无数据']);\n  }\n  \n  excelData.push([]);\n}\n\nreturn {\n  json: {\n    fileName: `每日数据报表_${reportDate}.xlsx`,\n    excelData: excelData,\n    reportDate: reportDate,\n    results: results\n  }\n};"
      },
      "id": "format-excel",
      "name": "格式化Excel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "jsonToCsv",
        "options": {
          "fileName": "={{ $json.fileName }}",
          "includeHeaders": true
        }
      },
      "id": "generate-excel",
      "name": "生成Excel文件",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "to": "operation-team@company.com",
        "subject": "=📊 每日数据报表 - {{ $json.reportDate }}",
        "message": "=各位好，\n\n附件是 {{ $json.reportDate }} 的每日数据报表。\n\n核心指标摘要：\n{% for result in $json.results %}\n**{{ result.name }}**: {{ result.description }}\n  数据行数: {{ result.rowCount }}\n{% endfor %}\n\n详细数据请查看附件Excel文件。\n\n---\n此邮件由系统自动生成\n生成时间: {{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
        "options": {
          "attachments": "={{ $binary.data }}"
        }
      },
      "id": "send-email",
      "name": "发送邮件",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1780, 300],
      "credentials": {
        "smtp": {
          "id": "lark-smtp",
          "name": "Lark SMTP"
        }
      }
    },
    {
      "parameters": {
        "content": "=📊 **每日数据报表已生成**\n\n**报表日期**: {{ $node['格式化Excel'].json.reportDate }}\n**生成时间**: {{ $now.format('YYYY-MM-DD HH:mm:ss') }}\n\n**核心指标**:\n{% for result in $node['格式化Excel'].json.results %}\n- {{ result.name }}: {{ result.rowCount }}条记录\n{% endfor %}\n\n详细报表已发送到团队邮箱。",
        "options": {}
      },
      "id": "send-lark-notification",
      "name": "Lark通知",
      "type": "n8n-nodes-base.lark",
      "typeVersion": 1,
      "position": [1780, 500],
      "credentials": {
        "larkApi": {
          "id": "lark-bot",
          "name": "Lark Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 错误处理\nconst error = $input.item;\nconst errorMessage = error.message || '未知错误';\nconst reportDate = $node['构建查询']?.json?.reportDate || '未知日期';\n\nreturn {\n  json: {\n    success: false,\n    error: errorMessage,\n    reportDate: reportDate,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "error-handler",
      "name": "错误处理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 500],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "=⚠️ **每日报表生成失败**\n\n**报表日期**: {{ $json.reportDate }}\n**错误信息**: {{ $json.error }}\n**发生时间**: {{ $now.format('YYYY-MM-DD HH:mm:ss') }}\n\n请技术团队检查系统日志。",
        "options": {}
      },
      "id": "send-error-alert",
      "name": "发送错误告警",
      "type": "n8n-nodes-base.lark",
      "typeVersion": 1,
      "position": [1560, 500],
      "credentials": {
        "larkApi": {
          "id": "lark-bot",
          "name": "Lark Bot"
        }
      }
    }
  ],
  "connections": {
    "定时触发": {
      "main": [
        [
          {
            "node": "构建查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建查询": {
      "main": [
        [
          {
            "node": "拆分查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分查询": {
      "main": [
        [
          {
            "node": "执行查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "执行查询": {
      "main": [
        [
          {
            "node": "汇总结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "汇总结果": {
      "main": [
        [
          {
            "node": "格式化Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化Excel": {
      "main": [
        [
          {
            "node": "生成Excel文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成Excel文件": {
      "main": [
        [
          {
            "node": "发送邮件",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lark通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler"
  },
  "staticData": null,
  "tags": [
    {
      "name": "查数工具",
      "id": "data-query"
    },
    {
      "name": "定时任务",
      "id": "scheduled"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-10T00:00:00.000Z",
  "versionId": "1.0"
}









