Auto data/n8n-workflows/3-game-rating-report.json
{
  "name": "游戏评级报告生成器",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "game-rating",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 400],
      "webhookId": "game-rating",
      "notes": "接收参数: game_name"
    },
    {
      "parameters": {
        "content": "=🎮 正在生成 **{{ $json.body.game_name }}** 的评级报告，请稍候...",
        "options": {}
      },
      "id": "send-progress",
      "name": "发送处理中提示",
      "type": "n8n-nodes-base.lark",
      "typeVersion": 1,
      "position": [460, 400],
      "credentials": {
        "larkApi": {
          "id": "lark-bot",
          "name": "Lark Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 构建游戏评级查询SQL\nconst gameName = $node['Webhook触发'].json.body.game_name;\n\nif (!gameName) {\n  throw new Error('游戏名称不能为空');\n}\n\n// 计算30天前的日期\nconst thirtyDaysAgo = new Date();\nthirtyDaysAgo.setDate(thirtyDaysAgo.getDate() - 30);\nconst startDate = thirtyDaysAgo.toISOString().split('T')[0];\n\nreturn {\n  json: {\n    gameName: gameName,\n    startDate: startDate,\n    queries: [\n      {\n        key: \"revenue\",\n        name: \"收入数据\",\n        sql: `\n          SELECT \n            SUM(amount) as total_revenue,\n            COUNT(*) as transactions,\n            COUNT(DISTINCT user_id) as paying_users,\n            AVG(amount) as avg_transaction\n          FROM transactions\n          WHERE game_name = '${gameName}'\n            AND DATE(transaction_date) >= DATE '${startDate}'\n            AND status = 'success'\n        `\n      },\n      {\n        key: \"activeUsers\",\n        name: \"活跃用户\",\n        sql: `\n          SELECT \n            COUNT(DISTINCT user_id) as total_active,\n            COUNT(DISTINCT CASE WHEN activity_date >= CURRENT_DATE - INTERVAL '7' DAY THEN user_id END) as week_active,\n            COUNT(DISTINCT CASE WHEN activity_date = CURRENT_DATE - INTERVAL '1' DAY THEN user_id END) as yesterday_active\n          FROM user_activity\n          WHERE game_name = '${gameName}'\n            AND DATE(activity_date) >= DATE '${startDate}'\n        `\n      },\n      {\n        key: \"retention\",\n        name: \"留存率\",\n        sql: `\n          WITH day1_users AS (\n            SELECT DISTINCT user_id, activity_date\n            FROM user_activity\n            WHERE game_name = '${gameName}'\n              AND DATE(activity_date) >= DATE '${startDate}'\n          )\n          SELECT \n            COUNT(DISTINCT a.user_id) as day1_users,\n            COUNT(DISTINCT b.user_id) as day2_retained,\n            CAST(COUNT(DISTINCT b.user_id) AS DOUBLE) / NULLIF(COUNT(DISTINCT a.user_id), 0) as retention_rate\n          FROM day1_users a\n          LEFT JOIN day1_users b \n            ON a.user_id = b.user_id \n            AND b.activity_date = a.activity_date + INTERVAL '1' DAY\n        `\n      },\n      {\n        key: \"totalUsers\",\n        name: \"总用户数\",\n        sql: `\n          SELECT COUNT(DISTINCT user_id) as total_users\n          FROM user_activity\n          WHERE game_name = '${gameName}'\n            AND DATE(activity_date) >= DATE '${startDate}'\n        `\n      }\n    ]\n  }\n};"
      },
      "id": "build-queries",
      "name": "构建查询SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "fieldToSplitOut": "queries",
        "options": {}
      },
      "id": "split-queries",
      "name": "拆分查询",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://your-server:8000/api/webhook/query/sql",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"sql\": \"{{ $json.sql }}\",\n  \"maxRows\": 100,\n  \"timeout\": 60000\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "execute-query",
      "name": "执行查询",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "athena-api-key",
          "name": "Athena API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 汇总所有查询结果\nconst items = $input.all();\nconst gameName = items[0].json.gameName;\nconst results = {};\n\nfor (const item of items) {\n  const queryKey = item.json.key;\n  const queryResult = item.json.apiResponse;\n  \n  if (queryResult && queryResult.success && queryResult.data.rows.length > 0) {\n    results[queryKey] = queryResult.data.rows[0];\n  } else {\n    results[queryKey] = {};\n  }\n}\n\nreturn {\n  json: {\n    gameName: gameName,\n    data: results,\n    queriedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "aggregate-results",
      "name": "汇总查询结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 计算游戏评级\nconst { gameName, data } = $input.item.json;\n\n// 评级函数\nfunction getGradeAndScore(value, thresholds) {\n  if (value >= thresholds.S) return { grade: 'S', score: 100, color: 'green', emoji: '🌟' };\n  if (value >= thresholds.A) return { grade: 'A', score: 85, color: 'blue', emoji: '⭐' };\n  if (value >= thresholds.B) return { grade: 'B', score: 70, color: 'orange', emoji: '✨' };\n  if (value >= thresholds.C) return { grade: 'C', score: 50, color: 'yellow', emoji: '💫' };\n  return { grade: 'D', score: 30, color: 'red', emoji: '⚡' };\n}\n\n// 提取数据\nconst revenue = parseFloat(data.revenue?.total_revenue) || 0;\nconst dau = parseInt(data.activeUsers?.yesterday_active) || 0;\nconst payingUsers = parseInt(data.revenue?.paying_users) || 0;\nconst totalUsers = parseInt(data.totalUsers?.total_users) || 1;\nconst payingRate = payingUsers / totalUsers;\nconst retentionRate = parseFloat(data.retention?.retention_rate) || 0;\nconst avgTransaction = parseFloat(data.revenue?.avg_transaction) || 0;\n\n// 评级阈值\nconst revenueGrade = getGradeAndScore(revenue, {\n  S: 10000000,  // 1000万\n  A: 5000000,   // 500万\n  B: 1000000,   // 100万\n  C: 100000     // 10万\n});\n\nconst activeGrade = getGradeAndScore(dau, {\n  S: 100000,\n  A: 50000,\n  B: 10000,\n  C: 1000\n});\n\nconst payingGrade = getGradeAndScore(payingRate, {\n  S: 0.1,   // 10%\n  A: 0.05,  // 5%\n  B: 0.02,  // 2%\n  C: 0.005  // 0.5%\n});\n\nconst retentionGrade = getGradeAndScore(retentionRate, {\n  S: 0.5,   // 50%\n  A: 0.3,   // 30%\n  B: 0.15,  // 15%\n  C: 0.05   // 5%\n});\n\n// 计算加权总分\nconst totalScore = Math.round(\n  revenueGrade.score * 0.4 +\n  activeGrade.score * 0.3 +\n  payingGrade.score * 0.2 +\n  retentionGrade.score * 0.1\n);\n\n// 确定最终评级\nconst finalGrade = getGradeAndScore(totalScore, {\n  S: 90,\n  A: 75,\n  B: 60,\n  C: 45\n});\n\nreturn {\n  json: {\n    gameName: gameName,\n    rating: {\n      finalGrade: finalGrade.grade,\n      totalScore: totalScore,\n      color: finalGrade.color,\n      emoji: finalGrade.emoji\n    },\n    metrics: {\n      revenue: {\n        label: '💰 收入表现',\n        value: `¥${(revenue / 10000).toFixed(2)}万`,\n        rawValue: revenue,\n        grade: revenueGrade.grade,\n        score: revenueGrade.score,\n        weight: '40%',\n        emoji: revenueGrade.emoji\n      },\n      activeUsers: {\n        label: '👥 用户活跃',\n        value: `${dau.toLocaleString()}人`,\n        rawValue: dau,\n        grade: activeGrade.grade,\n        score: activeGrade.score,\n        weight: '30%',\n        emoji: activeGrade.emoji\n      },\n      payingRate: {\n        label: '💳 付费率',\n        value: `${(payingRate * 100).toFixed(2)}%`,\n        rawValue: payingRate,\n        grade: payingGrade.grade,\n        score: payingGrade.score,\n        weight: '20%',\n        emoji: payingGrade.emoji\n      },\n      retention: {\n        label: '🔄 次日留存',\n        value: `${(retentionRate * 100).toFixed(2)}%`,\n        rawValue: retentionRate,\n        grade: retentionGrade.grade,\n        score: retentionGrade.score,\n        weight: '10%',\n        emoji: retentionGrade.emoji\n      }\n    },\n    additionalInfo: {\n      transactions: parseInt(data.revenue?.transactions) || 0,\n      payingUsers: payingUsers,\n      totalUsers: totalUsers,\n      avgTransaction: avgTransaction\n    },\n    generatedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "calculate-rating",
      "name": "计算评级",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "jsCode": "// 生成Lark卡片消息\nconst { gameName, rating, metrics, additionalInfo, generatedAt } = $input.item.json;\n\n// 构建卡片内容\nconst card = {\n  \"config\": {\n    \"wide_screen_mode\": true\n  },\n  \"header\": {\n    \"template\": rating.color,\n    \"title\": {\n      \"content\": `${rating.emoji} ${gameName} - 游戏评级报告`,\n      \"tag\": \"plain_text\"\n    }\n  },\n  \"elements\": [\n    {\n      \"tag\": \"div\",\n      \"fields\": [\n        {\n          \"is_short\": true,\n          \"text\": {\n            \"tag\": \"lark_md\",\n            \"content\": `**综合评级**\\n${rating.finalGrade} 级\"\n          }\n        },\n        {\n          \"is_short\": true,\n          \"text\": {\n            \"tag\": \"lark_md\",\n            \"content\": `**综合得分**\\n${rating.totalScore}/100\"\n          }\n        }\n      ]\n    },\n    {\n      \"tag\": \"hr\"\n    },\n    {\n      \"tag\": \"div\",\n      \"text\": {\n        \"tag\": \"lark_md\",\n        \"content\": \"**各维度评分**\"\n      }\n    },\n    // 收入\n    {\n      \"tag\": \"div\",\n      \"fields\": [\n        {\n          \"is_short\": false,\n          \"text\": {\n            \"tag\": \"lark_md\",\n            \"content\": `${metrics.revenue.emoji} **${metrics.revenue.label}** (权重${metrics.revenue.weight})\\n数值: ${metrics.revenue.value}\\n评级: ${metrics.revenue.grade} | 得分: ${metrics.revenue.score}\"\n          }\n        }\n      ]\n    },\n    // 活跃用户\n    {\n      \"tag\": \"div\",\n      \"fields\": [\n        {\n          \"is_short\": false,\n          \"text\": {\n            \"tag\": \"lark_md\",\n            \"content\": `${metrics.activeUsers.emoji} **${metrics.activeUsers.label}** (权重${metrics.activeUsers.weight})\\n数值: ${metrics.activeUsers.value}\\n评级: ${metrics.activeUsers.grade} | 得分: ${metrics.activeUsers.score}\"\n          }\n        }\n      ]\n    },\n    // 付费率\n    {\n      \"tag\": \"div\",\n      \"fields\": [\n        {\n          \"is_short\": false,\n          \"text\": {\n            \"tag\": \"lark_md\",\n            \"content\": `${metrics.payingRate.emoji} **${metrics.payingRate.label}** (权重${metrics.payingRate.weight})\\n数值: ${metrics.payingRate.value}\\n评级: ${metrics.payingRate.grade} | 得分: ${metrics.payingRate.score}\"\n          }\n        }\n      ]\n    },\n    // 留存率\n    {\n      \"tag\": \"div\",\n      \"fields\": [\n        {\n          \"is_short\": false,\n          \"text\": {\n            \"tag\": \"lark_md\",\n            \"content\": `${metrics.retention.emoji} **${metrics.retention.label}** (权重${metrics.retention.weight})\\n数值: ${metrics.retention.value}\\n评级: ${metrics.retention.grade} | 得分: ${metrics.retention.score}\"\n          }\n        }\n      ]\n    },\n    {\n      \"tag\": \"hr\"\n    },\n    {\n      \"tag\": \"div\",\n      \"text\": {\n        \"tag\": \"lark_md\",\n        \"content\": `**补充信息**\\n- 近30天交易笔数: ${additionalInfo.transactions.toLocaleString()}\\n- 付费用户数: ${additionalInfo.payingUsers.toLocaleString()}\\n- 总用户数: ${additionalInfo.totalUsers.toLocaleString()}\\n- 平均交易额: ¥${additionalInfo.avgTransaction.toFixed(2)}\"\n      }\n    },\n    {\n      \"tag\": \"note\",\n      \"elements\": [\n        {\n          \"tag\": \"plain_text\",\n          \"content\": `生成时间: ${new Date(generatedAt).toLocaleString('zh-CN')} | 统计周期: 近30天\"\n        }\n      ]\n    },\n    {\n      \"tag\": \"action\",\n      \"actions\": [\n        {\n          \"tag\": \"button\",\n          \"text\": {\n            \"tag\": \"plain_text\",\n            \"content\": \"📥 下载详细报告\"\n          },\n          \"type\": \"primary\",\n          \"url\": \"{{下载链接}}\"\n        }\n      ]\n    }\n  ]\n};\n\nreturn {\n  json: {\n    card: card,\n    gameName: gameName,\n    rating: rating,\n    metrics: metrics\n  }\n};"
      },
      "id": "generate-lark-card",
      "name": "生成Lark卡片",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "messageType": "card",
        "card": "={{ $json.card }}",
        "options": {}
      },
      "id": "send-lark-card",
      "name": "发送评级报告",
      "type": "n8n-nodes-base.lark",
      "typeVersion": 1,
      "position": [2000, 300],
      "credentials": {
        "larkApi": {
          "id": "lark-bot",
          "name": "Lark Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 生成Excel详细报告\nconst { gameName, rating, metrics, additionalInfo, generatedAt } = $node['计算评级'].json;\n\nconst excelData = [\n  ['游戏评级报告'],\n  ['游戏名称', gameName],\n  ['生成时间', new Date(generatedAt).toLocaleString('zh-CN')],\n  ['统计周期', '近30天'],\n  [],\n  ['综合评级', rating.finalGrade],\n  ['综合得分', `${rating.totalScore}/100`],\n  [],\n  ['评分维度', '数值', '评级', '得分', '权重'],\n  [\n    metrics.revenue.label,\n    metrics.revenue.value,\n    metrics.revenue.grade,\n    metrics.revenue.score,\n    metrics.revenue.weight\n  ],\n  [\n    metrics.activeUsers.label,\n    metrics.activeUsers.value,\n    metrics.activeUsers.grade,\n    metrics.activeUsers.score,\n    metrics.activeUsers.weight\n  ],\n  [\n    metrics.payingRate.label,\n    metrics.payingRate.value,\n    metrics.payingRate.grade,\n    metrics.payingRate.score,\n    metrics.payingRate.weight\n  ],\n  [\n    metrics.retention.label,\n    metrics.retention.value,\n    metrics.retention.grade,\n    metrics.retention.score,\n    metrics.retention.weight\n  ],\n  [],\n  ['补充信息'],\n  ['近30天交易笔数', additionalInfo.transactions],\n  ['付费用户数', additionalInfo.payingUsers],\n  ['总用户数', additionalInfo.totalUsers],\n  ['平均交易额', `¥${additionalInfo.avgTransaction.toFixed(2)}`]\n];\n\nreturn {\n  json: {\n    fileName: `游戏评级报告_${gameName}_${new Date().toISOString().split('T')[0]}.xlsx`,\n    excelData: excelData\n  }\n};"
      },
      "id": "generate-excel-data",
      "name": "生成Excel数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 500]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "jsonToCsv",
        "options": {
          "fileName": "={{ $json.fileName }}",
          "includeHeaders": false
        }
      },
      "id": "create-excel-file",
      "name": "创建Excel文件",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [2000, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"gameName\": \"{{ $node['计算评级'].json.gameName }}\",\n  \"rating\": {\n    \"grade\": \"{{ $node['计算评级'].json.rating.finalGrade }}\",\n    \"score\": {{ $node['计算评级'].json.rating.totalScore }}\n  },\n  \"message\": \"评级报告已生成并发送\"\n}",
        "options": {}
      },
      "id": "respond-success",
      "name": "返回成功响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "jsCode": "// 错误处理\nconst error = $input.item;\nconst errorMessage = error.message || '未知错误';\nconst gameName = $node['Webhook触发']?.json?.body?.game_name || '未知游戏';\n\nreturn {\n  json: {\n    success: false,\n    error: errorMessage,\n    gameName: gameName,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "error-handler",
      "name": "错误处理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 600],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "=❌ **生成评级报告失败**\n\n**游戏**: {{ $json.gameName }}\n**错误**: {{ $json.error }}\n**时间**: {{ $now.format('YYYY-MM-DD HH:mm:ss') }}\n\n请检查游戏名称是否正确或联系技术支持。",
        "options": {}
      },
      "id": "send-error-message",
      "name": "发送错误消息",
      "type": "n8n-nodes-base.lark",
      "typeVersion": 1,
      "position": [1780, 600],
      "credentials": {
        "larkApi": {
          "id": "lark-bot",
          "name": "Lark Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook触发": {
      "main": [
        [
          {
            "node": "发送处理中提示",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "发送处理中提示": {
      "main": [
        [
          {
            "node": "构建查询SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建查询SQL": {
      "main": [
        [
          {
            "node": "拆分查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分查询": {
      "main": [
        [
          {
            "node": "执行查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "执行查询": {
      "main": [
        [
          {
            "node": "汇总查询结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "汇总查询结果": {
      "main": [
        [
          {
            "node": "计算评级",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "计算评级": {
      "main": [
        [
          {
            "node": "生成Lark卡片",
            "type": "main",
            "index": 0
          },
          {
            "node": "生成Excel数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成Lark卡片": {
      "main": [
        [
          {
            "node": "发送评级报告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成Excel数据": {
      "main": [
        [
          {
            "node": "创建Excel文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "发送评级报告": {
      "main": [
        [
          {
            "node": "返回成功响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "创建Excel文件": {
      "main": [
        [
          {
            "node": "返回成功响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    {
      "name": "查数工具",
      "id": "data-query"
    },
    {
      "name": "评级系统",
      "id": "rating"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-10T00:00:00.000Z",
  "versionId": "1.0"
}











