Auto data/n8n-workflows/ai-telegram-query.json
{
  "name": "AI Telegram Query",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-3.5-turbo",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "你是一个专业的SQL查询助手，专门为AWS Athena数据库生成SQL查询语句。\n\n数据库信息：\n- 数据库名：gmp\n- 主要表：game_records\n- 表结构：\n  - id (varchar): 记录ID\n  - uid (varchar): 用户ID\n  - merchant_id (varchar): 商户ID\n  - game_id (bigint): 游戏ID\n  - game_code (varchar): 游戏代码\n  - result (integer): 游戏结果\n  - currency (varchar): 货币类型\n  - amount (double): 金额\n  - pay_out (double): 支付金额\n  - multiplier (varchar): 倍数\n  - balance (varchar): 余额\n  - detail (varchar): 详细信息\n  - created_at (bigint): 创建时间戳\n  - updated_at (bigint): 更新时间戳\n  - provider (varchar): 提供商\n  - merchant (varchar): 商户\n\n重要规则：\n1. 只返回SQL语句，不要包含任何解释\n2. 时间字段需要转换：FROM_UNIXTIME(created_at / 1000) 和 FROM_UNIXTIME(updated_at / 1000)\n3. 金额字段需要四舍五入：ROUND(CAST(amount AS DOUBLE), 2)\n4. 日期格式：DATE_FORMAT(FROM_UNIXTIME(created_at / 1000), '%Y-%m-%d %H:%i:%s')\n5. 限制结果数量，使用 LIMIT 100\n6. 使用适当的WHERE条件避免全表扫描\n7. 如果涉及时间范围，使用BETWEEN和TO_UNIXTIME函数\n\n示例：\n- \"查询用户ID为123的记录\" → SELECT * FROM game_records WHERE uid = '123' LIMIT 100\n- \"显示最近7天的数据\" → SELECT * FROM game_records WHERE updated_at BETWEEN TO_UNIXTIME(CURRENT_DATE - INTERVAL 7 DAY) * 1000 AND TO_UNIXTIME(CURRENT_DATE) * 1000 LIMIT 100"
            },
            {
              "role": "user",
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {
          "temperature": 0.1,
          "maxTokens": 500
        }
      },
      "id": "generate-sql-ai",
      "name": "Generate SQL (AI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// 清理AI返回的SQL语句\nconst aiResponse = $json.choices[0].message.content;\n\n// 移除可能的markdown代码块标记\nlet cleanSql = aiResponse\n  .replace(/```sql\\n?/gi, '')\n  .replace(/```\\n?/gi, '')\n  .replace(/^\\s*SELECT\\s*/i, 'SELECT ')\n  .trim();\n\n// 确保SQL语句以SELECT开头\nif (!cleanSql.toUpperCase().startsWith('SELECT')) {\n  return {\n    json: {\n      success: false,\n      error: 'AI生成的不是有效的SELECT语句',\n      originalResponse: aiResponse,\n      chatId: $('Telegram Trigger').item.json.message.chat.id,\n      messageId: $('Telegram Trigger').item.json.message.message_id\n    }\n  };\n}\n\n// 验证SQL语句的基本安全性\nconst forbiddenKeywords = ['DROP', 'DELETE', 'INSERT', 'UPDATE', 'ALTER', 'CREATE', 'TRUNCATE'];\nconst upperSql = cleanSql.toUpperCase();\n\nfor (const keyword of forbiddenKeywords) {\n  if (upperSql.includes(keyword)) {\n    return {\n      json: {\n        success: false,\n        error: `SQL语句包含不允许的关键词: ${keyword}`,\n        originalResponse: aiResponse,\n        chatId: $('Telegram Trigger').item.json.message.chat.id,\n        messageId: $('Telegram Trigger').item.json.message.message_id\n      }\n    };\n  }\n}\n\nreturn {\n  json: {\n    success: true,\n    sql: cleanSql,\n    originalResponse: aiResponse,\n    chatId: $('Telegram Trigger').item.json.message.chat.id,\n    messageId: $('Telegram Trigger').item.json.message.message_id\n  }\n};"
      },
      "id": "validate-sql",
      "name": "Validate SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-sql-valid",
      "name": "Check SQL Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://organ-execute-contract-coaches.trycloudflare.com/api/async/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"sql\": \"{{ $json.sql }}\",\n  \"database\": \"gmp\"\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "start-query",
      "name": "Start Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait-1-minute",
      "name": "Wait 1 Minute",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "url": "=https://organ-execute-contract-coaches.trycloudflare.com/api/async/status/{{ $json.queryId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-3.5-turbo",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "你是一个数据分析助手，专门格式化查询结果并生成用户友好的报告。\n\n任务：将查询结果转换为清晰、易读的格式，适合在Telegram中显示。\n\n格式要求：\n1. 使用Markdown格式\n2. 包含查询统计信息（记录数、执行时间等）\n3. 以表格或列表形式展示数据\n4. 限制显示前10条记录\n5. 使用emoji增强可读性\n6. 如果记录太多，提供摘要信息\n\n示例格式：\n🎯 **查询结果**\n\n📊 找到 X 条记录\n⏱️ 执行时间: X秒\n💾 数据扫描: XMB\n\n📋 **数据预览** (前X条):\n\n1. **记录1**\n   - 字段1: 值1\n   - 字段2: 值2\n\n2. **记录2**\n   - 字段1: 值1\n   - 字段2: 值2\n\n如果记录超过10条，在末尾添加：\n\n... 还有 X 条记录"
            },
            {
              "role": "user",
              "content": "请格式化以下查询结果：\n\n查询状态：{{ $json.status }}\n执行时间：{{ $json.elapsed }}秒\n记录数：{{ $json.result?.row_count || 0 }}\n\n数据：\n{{ JSON.stringify($json.result?.data || [], null, 2) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 1000
        }
      },
      "id": "format-result-ai",
      "name": "Format Result (AI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $('Validate SQL').item.json.chatId }}",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {
          "replyToMessageId": "={{ $('Validate SQL').item.json.messageId }}",
          "parseMode": "Markdown"
        }
      },
      "id": "send-result",
      "name": "Send Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-3.5-turbo",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "你是一个友好的SQL助手，专门帮助用户改进他们的查询请求。\n\n当SQL生成失败时，你需要：\n1. 礼貌地解释问题\n2. 提供改进建议\n3. 给出具体的示例\n4. 保持积极和帮助性的语调\n\n格式要求：\n- 使用Markdown格式\n- 使用emoji增强可读性\n- 提供具体的改进建议\n- 给出示例查询"
            },
            {
              "role": "user",
              "content": "用户的原始查询：{{ $('Telegram Trigger').item.json.message.text }}\n\n错误信息：{{ $json.error }}\n\n请提供帮助性的回复。"
            }
          ]
        },
        "options": {
          "temperature": 0.5,
          "maxTokens": 500
        }
      },
      "id": "generate-error-help",
      "name": "Generate Error Help",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $('Validate SQL').item.json.chatId }}",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {
          "replyToMessageId": "={{ $('Validate SQL').item.json.messageId }}",
          "parseMode": "Markdown"
        }
      },
      "id": "send-error-help",
      "name": "Send Error Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Generate SQL (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SQL (AI)": {
      "main": [
        [
          {
            "node": "Validate SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate SQL": {
      "main": [
        [
          {
            "node": "Check SQL Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SQL Valid": {
      "main": [
        [
          {
            "node": "Start Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Error Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Query": {
      "main": [
        [
          {
            "node": "Wait 1 Minute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Minute": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Format Result (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result (AI)": {
      "main": [
        [
          {
            "node": "Send Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Error Help": {
      "main": [
        [
          {
            "node": "Send Error Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-11T03:20:00.000Z",
      "updatedAt": "2025-10-11T03:20:00.000Z",
      "id": "ai-telegram",
      "name": "AI Telegram"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-11T03:20:00.000Z",
  "versionId": "1"
}












