Auto data/n8n-workflows/async-intelligent-query.json
{
  "name": "异步智能查询工作流",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "async-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "async-query-webhook"
    },
    {
      "parameters": {
        "url": "https://stroke-geo-bee-bless.trycloudflare.com/api/async/start",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "={{ $json.body.sql }}"
            },
            {
              "name": "database",
              "value": "gmp"
            },
            {
              "name": "maxRetries",
              "value": 3
            }
          ]
        },
        "options": {}
      },
      "id": "start-async-query",
      "name": "启动异步查询",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-start-success",
      "name": "检查启动状态",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// 处理查询启动成功\nconst response = $input.item.json;\nconst queryId = response.queryId;\n\nreturn {\n  json: {\n    success: true,\n    queryId: queryId,\n    status: response.status,\n    message: response.message,\n    estimatedTime: response.estimatedTime,\n    originalRequest: $node['Webhook触发'].json.body\n  }\n};"
      },
      "id": "process-start-response",
      "name": "处理启动响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "https://stroke-geo-bee-bless.trycloudflare.com/api/async/status/{{ $json.queryId }}",
        "authentication": "none",
        "requestMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "check-query-status",
      "name": "检查查询状态",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-completed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-query-completed",
      "name": "检查查询完成",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "// 处理查询完成结果\nconst response = $input.item.json;\n\nreturn {\n  json: {\n    success: true,\n    queryId: response.queryId,\n    status: response.status,\n    message: response.message,\n    elapsed: response.elapsed,\n    result: response.result,\n    originalRequest: $node['处理启动响应'].json.originalRequest\n  }\n};"
      },
      "id": "process-completed-result",
      "name": "处理完成结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-failed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-timeout",
              "leftValue": "={{ $json.status }}",
              "rightValue": "timeout",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-query-failed",
      "name": "检查查询失败",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "// 处理查询失败\nconst response = $input.item.json;\n\nreturn {\n  json: {\n    success: false,\n    queryId: response.queryId,\n    status: response.status,\n    message: response.message,\n    error: response.error,\n    elapsed: response.elapsed,\n    originalRequest: $node['处理启动响应'].json.originalRequest\n  }\n};"
      },
      "id": "process-failed-result",
      "name": "处理失败结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-before-retry",
      "name": "等待重试",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-success",
      "name": "返回成功结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-failure",
      "name": "返回失败结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "jsCode": "// 处理启动失败\nreturn {\n  json: {\n    success: false,\n    error: 'Failed to start async query',\n    message: $input.item.json.message || '未知错误',\n    originalRequest: $node['Webhook触发'].json.body\n  }\n};"
      },
      "id": "process-start-failure",
      "name": "处理启动失败",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-start-failure",
      "name": "返回启动失败",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Webhook触发": {
      "main": [
        [
          {
            "node": "启动异步查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "启动异步查询": {
      "main": [
        [
          {
            "node": "检查启动状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查启动状态": {
      "main": [
        [
          {
            "node": "处理启动响应",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "处理启动失败",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理启动响应": {
      "main": [
        [
          {
            "node": "检查查询状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查查询状态": {
      "main": [
        [
          {
            "node": "检查查询完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查查询完成": {
      "main": [
        [
          {
            "node": "处理完成结果",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "检查查询失败",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理完成结果": {
      "main": [
        [
          {
            "node": "返回成功结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查查询失败": {
      "main": [
        [
          {
            "node": "处理失败结果",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "等待重试",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理失败结果": {
      "main": [
        [
          {
            "node": "返回失败结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待重试": {
      "main": [
        [
          {
            "node": "检查查询状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理启动失败": {
      "main": [
        [
          {
            "node": "返回启动失败",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "async-intelligent-query",
  "tags": []
}












