Auto data/n8n-workflows/athena-query-workflow.json
{
  "name": "Athena Query Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.queryType }}",
              "rightValue": "async",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "query-type-router",
      "name": "Query Type Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://organ-execute-contract-coaches.trycloudflare.com/api/async/start",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ { \"sql\": $json.sql, \"database\": $json.database || \"gmp\" } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "start-async-query",
      "name": "Start Async Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "athena-api-key",
          "name": "Athena API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "https://organ-execute-contract-coaches.trycloudflare.com/api/webhook/query/sql",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ { \"sql\": $json.sql, \"database\": $json.database || \"gmp\" } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "direct-query",
      "name": "Direct Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "athena-api-key",
          "name": "Athena API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "https://organ-execute-contract-coaches.trycloudflare.com/api/async/status/={{ $json.queryId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "athena-api-key",
          "name": "Athena API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "status-checker",
      "name": "Status Checker",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-10-seconds",
      "name": "Wait 10 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "// 处理查询结果\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  if (data.success && data.result && data.result.data) {\n    // 异步查询结果\n    const queryData = data.result.data;\n    results.push({\n      success: true,\n      queryId: data.queryId,\n      status: data.status,\n      rowCount: queryData.rowCount || 0,\n      totalRows: queryData.totalRows || 0,\n      executionTime: data.result.executionTime,\n      data: queryData,\n      timestamp: new Date().toISOString()\n    });\n  } else if (data.success && data.data) {\n    // 直接查询结果\n    results.push({\n      success: true,\n      rowCount: data.rowCount || 0,\n      totalRows: data.totalRows || 0,\n      executionTime: data.executionTime,\n      data: data.data,\n      timestamp: new Date().toISOString()\n    });\n  } else {\n    // 错误或进行中\n    results.push({\n      success: false,\n      error: data.error || 'Unknown error',\n      status: data.status || 'unknown',\n      timestamp: new Date().toISOString()\n    });\n  }\n}\n\nreturn results.map(result => ({ json: result }));"
      },
      "id": "process-results",
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "running",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "still-running-check",
      "name": "Still Running Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "timeout-check",
      "name": "Timeout Check",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1560, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Query Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Type Router": {
      "main": [
        [
          {
            "node": "Start Async Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Direct Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Async Query": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Status Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Checker": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Still Running Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Running Check": {
      "main": [
        [
          {
            "node": "Wait 10 Seconds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Timeout Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Seconds": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Direct Query": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-10T10:20:00.000Z",
      "updatedAt": "2025-10-10T10:20:00.000Z",
      "id": "athena-queries",
      "name": "Athena Queries"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-10T10:20:00.000Z",
  "versionId": "1"
}












