Auto data/n8n-workflows/direct-athena-query.json
{
  "name": "Direct Athena Query (No API)",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// 设置 AWS 配置和 SQL 查询\nconst awsConfig = {\n  region: 'us-west-2',\n  accessKeyId: 'AKIAQQJLCWBOOKC7J6ZI',\n  secretAccessKey: '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'\n};\n\nconst athenaConfig = {\n  database: 'gmp',\n  outputLocation: 's3://aws-athena-query-results-us-west-2-034986963036/',\n  workGroup: 'primary'\n};\n\n// 你的具体 SQL 查询\nconst sqlQuery = `SELECT id, uid, merchant_id, game_id, game_code, result, currency, ROUND(CAST(amount AS DOUBLE), 2) AS amount, ROUND(CAST(pay_out AS DOUBLE), 2) AS pay_out, multiplier, balance, detail, DATE_FORMAT(FROM_UNIXTIME(created_at / 1000), '%Y-%m-%d %H:%i:%s') AS created_at, DATE_FORMAT(FROM_UNIXTIME(updated_at / 1000), '%Y-%m-%d %H:%i:%s') AS updated_at FROM game_records WHERE provider = 'gp' AND merchant = '1737978166' AND id in ('1976423513265401856','1976422629802373120','1976437176340557824') AND updated_at BETWEEN TO_UNIXTIME(PARSE_DATETIME('2025-10-01 00:00:00', 'yyyy-MM-dd HH:mm:ss')) * 1000 AND TO_UNIXTIME(PARSE_DATETIME('2025-10-30 23:59:59', 'yyyy-MM-dd HH:mm:ss')) * 1000`;\n\nreturn {\n  json: {\n    awsConfig,\n    athenaConfig,\n    sqlQuery,\n    queryId: null,\n    status: 'ready'\n  }\n};"
      },
      "id": "setup-config",
      "name": "Setup Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// 导入 AWS SDK 并启动 Athena 查询\nconst AWS = require('aws-sdk');\n\n// 配置 AWS\nconst { awsConfig, athenaConfig, sqlQuery } = $json;\n\nAWS.config.update({\n  region: awsConfig.region,\n  accessKeyId: awsConfig.accessKeyId,\n  secretAccessKey: awsConfig.secretAccessKey\n});\n\nconst athena = new AWS.Athena();\n\n// 启动查询执行\nconst params = {\n  QueryString: sqlQuery,\n  QueryExecutionContext: {\n    Database: athenaConfig.database\n  },\n  ResultConfiguration: {\n    OutputLocation: athenaConfig.outputLocation\n  },\n  WorkGroup: athenaConfig.workGroup\n};\n\ntry {\n  console.log('Starting Athena query...');\n  const result = await athena.startQueryExecution(params).promise();\n  \n  console.log('Query started with ID:', result.QueryExecutionId);\n  \n  return {\n    json: {\n      queryId: result.QueryExecutionId,\n      status: 'started',\n      message: '查询已启动，正在执行中...',\n      timestamp: new Date().toISOString(),\n      sqlQuery: sqlQuery.substring(0, 100) + '...' // 截断显示\n    }\n  };\n} catch (error) {\n  console.error('Error starting query:', error);\n  return {\n    json: {\n      success: false,\n      error: error.message,\n      status: 'failed',\n      timestamp: new Date().toISOString()\n    }\n  };\n}"
      },
      "id": "start-athena-query",
      "name": "Start Athena Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "initial-wait",
      "name": "Initial Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// 检查查询状态\nconst AWS = require('aws-sdk');\nconst { queryId, awsConfig } = $json;\n\nif (!queryId) {\n  return {\n    json: {\n      success: false,\n      error: 'No query ID available',\n      status: 'failed'\n    }\n  };\n}\n\n// 配置 AWS\nAWS.config.update({\n  region: awsConfig.region,\n  accessKeyId: awsConfig.accessKeyId,\n  secretAccessKey: awsConfig.secretAccessKey\n});\n\nconst athena = new AWS.Athena();\n\n// 获取查询执行状态\ntry {\n  const result = await athena.getQueryExecution({ QueryExecutionId: queryId }).promise();\n  const execution = result.QueryExecution;\n  \n  const status = execution.Status.State;\n  const statusChangeReason = execution.Status.StateChangeReason || '';\n  \n  console.log(`Query ${queryId} status: ${status}`);\n  \n  return {\n    json: {\n      queryId,\n      status: status.toLowerCase(),\n      statusChangeReason,\n      dataScannedInBytes: execution.Statistics?.DataScannedInBytes,\n      engineExecutionTimeInMillis: execution.Statistics?.EngineExecutionTimeInMillis,\n      timestamp: new Date().toISOString()\n    }\n  };\n} catch (error) {\n  console.error('Error checking query status:', error);\n  return {\n    json: {\n      queryId,\n      success: false,\n      error: error.message,\n      status: 'error'\n    }\n  };\n}"
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "status-check",
      "name": "Status Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// 获取查询结果\nconst AWS = require('aws-sdk');\nconst { queryId, awsConfig } = $json;\n\n// 配置 AWS\nAWS.config.update({\n  region: awsConfig.region,\n  accessKeyId: awsConfig.accessKeyId,\n  secretAccessKey: awsConfig.secretAccessKey\n});\n\nconst athena = new AWS.Athena();\n\ntry {\n  // 获取查询结果\n  const resultParams = {\n    QueryExecutionId: queryId,\n    MaxResults: 1000 // 限制结果数量\n  };\n  \n  const result = await athena.getQueryResults(resultParams).promise();\n  \n  // 处理结果\n  const columns = result.ResultSet.ResultSetMetadata.ColumnInfo.map(col => col.Name);\n  const rows = result.ResultSet.Rows.slice(1).map(row => { // 跳过标题行\n    const rowData = {};\n    row.Data.forEach((cell, index) => {\n      rowData[columns[index]] = cell.VarCharValue || null;\n    });\n    return rowData;\n  });\n  \n  console.log(`Query completed with ${rows.length} rows`);\n  \n  return {\n    json: {\n      success: true,\n      queryId,\n      status: 'completed',\n      rowCount: rows.length,\n      columns,\n      data: rows,\n      message: `查询成功！返回 ${rows.length} 条记录`,\n      timestamp: new Date().toISOString()\n    }\n  };\n} catch (error) {\n  console.error('Error getting query results:', error);\n  return {\n    json: {\n      success: false,\n      queryId,\n      error: error.message,\n      status: 'failed',\n      timestamp: new Date().toISOString()\n    }\n  };\n}"
      },
      "id": "get-results",
      "name": "Get Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-and-retry",
      "name": "Wait and Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "running",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "retry-check",
      "name": "Retry Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "timeout-wait",
      "name": "Timeout Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "jsCode": "// 超时处理\nreturn {\n  json: {\n    success: false,\n    queryId: $json.queryId,\n    status: 'timeout',\n    error: '查询超时',\n    message: '查询执行超过5分钟，请检查查询条件或联系管理员',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "timeout-handler",
      "name": "Timeout Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "jsCode": "// 最终结果处理\nconst data = $json;\n\nif (data.success && data.data) {\n  // 成功结果\n  return {\n    json: {\n      success: true,\n      message: data.message || '查询执行成功',\n      queryId: data.queryId,\n      rowCount: data.rowCount,\n      columns: data.columns,\n      data: data.data,\n      executionTime: data.executionTime || 'N/A',\n      timestamp: data.timestamp\n    }\n  };\n} else {\n  // 失败结果\n  return {\n    json: {\n      success: false,\n      message: data.message || data.error || '查询执行失败',\n      queryId: data.queryId,\n      error: data.error,\n      status: data.status,\n      timestamp: data.timestamp\n    }\n  };\n}"
      },
      "id": "process-final-result",
      "name": "Process Final Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 200]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Setup Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Config": {
      "main": [
        [
          {
            "node": "Start Athena Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Athena Query": {
      "main": [
        [
          {
            "node": "Initial Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Wait": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Check": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Results": {
      "main": [
        [
          {
            "node": "Process Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Check": {
      "main": [
        [
          {
            "node": "Wait and Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Timeout Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait and Retry": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timeout Wait": {
      "main": [
        [
          {
            "node": "Timeout Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timeout Handler": {
      "main": [
        [
          {
            "node": "Process Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-11T02:30:00.000Z",
      "updatedAt": "2025-10-11T02:30:00.000Z",
      "id": "direct-athena",
      "name": "Direct Athena"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-11T02:30:00.000Z",
  "versionId": "1"
}
