Auto data/n8n-workflows/google-sheets-rating-write-complete.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// 周报一体化清洗节点（基于 shangyou.json 当前结构）\n// ... 你的原始代码 ..."
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "计算评分数据",
      "name": "计算评分数据"
    },
    {
      "parameters": {
        "jsCode": "// 整理数据-谷歌表格节点\n// 将\"计算评分数据\"节点的输出转换为适合写入 Google Sheets 的格式\n\nconst inputData = $input.first().json;\n\nif (!inputData) {\n  throw new Error('❌ 未收到输入数据');\n}\n\nconst period = inputData.period || {};\nconst platform = inputData.platform || {};\nconst merchants = inputData.merchants || {};\nconst games = inputData.games || {};\nconst currencies = inputData.currencies || {};\n\n// 工具函数：格式化数值\nconst formatNum = (v, decimals = 2) => {\n  if (v === null || v === undefined || v === '') return '';\n  const n = Number(v);\n  return Number.isFinite(n) ? Number(n.toFixed(decimals)) : '';\n};\n\nconst formatPercent = (v) => {\n  if (v === null || v === undefined || v === '') return '';\n  const n = Number(v);\n  return Number.isFinite(n) ? `${n.toFixed(2)}%` : '';\n};\n\n// ========== 1. 平台总览数据 ==========\nconst platformRow = {\n  数据类型: '平台总览',\n  报告周期: period.key || '',\n  周期开始: period.start || '',\n  周期结束: period.end || '',\n  投注用户数: formatNum(platform.total_bet_users, 0),\n  新用户数: formatNum(platform.new_users, 0),\n  活跃用户次日留存: formatPercent(platform.active_d1_ret_pct),\n  活跃用户3日留存: formatPercent(platform.active_d3_ret_pct),\n  新用户次日留存: formatPercent(platform.new_d1_ret_pct),\n  新用户3日留存: formatPercent(platform.new_d3_ret_pct),\n  总投注USD: formatNum(platform.total_bet_amount_usd),\n  总派奖USD: formatNum(platform.total_payout_usd),\n  总GGR_USD: formatNum(platform.total_ggr_usd),\n  RTP: formatPercent(platform.rtp_pct),\n  生成时间: new Date().toISOString().split('T')[0],\n};\n\n// ========== 2. 商户榜单数据 ==========\nconst merchantRows = [];\n\n// Top 投注用户数商户\n(merchants.top_bet_users || []).forEach((m, idx) => {\n  merchantRows.push({\n    数据类型: '商户-投注用户Top',\n    排名: idx + 1,\n    报告周期: period.key || '',\n    商户名称: m.merchant_name || '',\n    投注用户数: formatNum(m.user_total_bet_users, 0),\n    新用户数: formatNum(m.user_new_users, 0),\n    活跃用户次日留存: formatPercent(m.user_active_d1_ret_pct),\n    活跃用户3日留存: formatPercent(m.user_active_d3_ret_pct),\n    新用户次日留存: formatPercent(m.user_new_d1_ret_pct),\n    新用户3日留存: formatPercent(m.user_new_d3_ret_pct),\n    总GGR_USD: formatNum(m.rev_total_ggr_usd),\n    人均GGR_USD: formatNum(m.ggr_per_user_usd),\n    生成时间: new Date().toISOString().split('T')[0],\n  });\n});\n\n// Top 新用户数商户\n(merchants.top_new_users || []).forEach((m, idx) => {\n  merchantRows.push({\n    数据类型: '商户-新用户Top',\n    排名: idx + 1,\n    报告周期: period.key || '',\n    商户名称: m.merchant_name || '',\n    投注用户数: formatNum(m.user_total_bet_users, 0),\n    新用户数: formatNum(m.user_new_users, 0),\n    活跃用户次日留存: formatPercent(m.user_active_d1_ret_pct),\n    活跃用户3日留存: formatPercent(m.user_active_d3_ret_pct),\n    新用户次日留存: formatPercent(m.user_new_d1_ret_pct),\n    新用户3日留存: formatPercent(m.user_new_d3_ret_pct),\n    总GGR_USD: formatNum(m.rev_total_ggr_usd),\n    人均GGR_USD: formatNum(m.ggr_per_user_usd),\n    生成时间: new Date().toISOString().split('T')[0],\n  });\n});\n\n// Top GGR 商户\n(merchants.top_ggr || []).forEach((m, idx) => {\n  merchantRows.push({\n    数据类型: '商户-GGRTop',\n    排名: idx + 1,\n    报告周期: period.key || '',\n    商户名称: m.merchant_name || '',\n    投注用户数: formatNum(m.user_total_bet_users, 0),\n    新用户数: formatNum(m.user_new_users, 0),\n    活跃用户次日留存: formatPercent(m.user_active_d1_ret_pct),\n    活跃用户3日留存: formatPercent(m.user_active_d3_ret_pct),\n    新用户次日留存: formatPercent(m.user_new_d1_ret_pct),\n    新用户3日留存: formatPercent(m.user_new_d3_ret_pct),\n    总GGR_USD: formatNum(m.rev_total_ggr_usd),\n    人均GGR_USD: formatNum(m.ggr_per_user_usd),\n    生成时间: new Date().toISOString().split('T')[0],\n  });\n});\n\n// ========== 3. 游戏榜单数据 ==========\nconst gameRows = [];\n\n// Top 投注用户数游戏\n(games.top_bet_users || []).forEach((g, idx) => {\n  gameRows.push({\n    数据类型: '游戏-投注用户Top',\n    排名: idx + 1,\n    报告周期: period.key || '',\n    游戏名称: g.game_name || '',\n    投注用户数: formatNum(g.user_total_bet_users, 0),\n    新用户数: formatNum(g.user_new_users, 0),\n    活跃用户次日留存: formatPercent(g.user_active_d1_ret_pct),\n    活跃用户3日留存: formatPercent(g.user_active_d3_ret_pct),\n    新用户次日留存: formatPercent(g.user_new_d1_ret_pct),\n    新用户3日留存: formatPercent(g.user_new_d3_ret_pct),\n    总GGR_USD: formatNum(g.rev_total_ggr_usd),\n    总局数: formatNum(g.total_rounds, 0),\n    空转指数: formatNum(g.idle_index),\n    生成时间: new Date().toISOString().split('T')[0],\n  });\n});\n\n// Top 新用户数游戏\n(games.top_new_users || []).forEach((g, idx) => {\n  gameRows.push({\n    数据类型: '游戏-新用户Top',\n    排名: idx + 1,\n    报告周期: period.key || '',\n    游戏名称: g.game_name || '',\n    投注用户数: formatNum(g.user_total_bet_users, 0),\n    新用户数: formatNum(g.user_new_users, 0),\n    活跃用户次日留存: formatPercent(g.user_active_d1_ret_pct),\n    活跃用户3日留存: formatPercent(g.user_active_d3_ret_pct),\n    新用户次日留存: formatPercent(g.user_new_d1_ret_pct),\n    新用户3日留存: formatPercent(g.user_new_d3_ret_pct),\n    总GGR_USD: formatNum(g.rev_total_ggr_usd),\n    总局数: formatNum(g.total_rounds, 0),\n    空转指数: formatNum(g.idle_index),\n    生成时间: new Date().toISOString().split('T')[0],\n  });\n});\n\n// Top GGR 游戏\n(games.top_ggr || []).forEach((g, idx) => {\n  gameRows.push({\n    数据类型: '游戏-GGRTop',\n    排名: idx + 1,\n    报告周期: period.key || '',\n    游戏名称: g.game_name || '',\n    投注用户数: formatNum(g.user_total_bet_users, 0),\n    新用户数: formatNum(g.user_new_users, 0),\n    活跃用户次日留存: formatPercent(g.user_active_d1_ret_pct),\n    活跃用户3日留存: formatPercent(g.user_active_d3_ret_pct),\n    新用户次日留存: formatPercent(g.user_new_d1_ret_pct),\n    新用户3日留存: formatPercent(g.user_new_d3_ret_pct),\n    总GGR_USD: formatNum(g.rev_total_ggr_usd),\n    总局数: formatNum(g.total_rounds, 0),\n    空转指数: formatNum(g.idle_index),\n    生成时间: new Date().toISOString().split('T')[0],\n  });\n});\n\n// ========== 4. 币种数据 ==========\nconst currencyRows = [];\n\n(currencies.top3_ggr || []).forEach((c, idx) => {\n  currencyRows.push({\n    数据类型: '币种-GGRTop',\n    排名: idx + 1,\n    报告周期: period.key || '',\n    币种: c.currency || '',\n    总GGR_USD: formatNum(c.total_ggr_usd),\n    占比: formatPercent(c.share_pct),\n    生成时间: new Date().toISOString().split('T')[0],\n  });\n});\n\n// ========== 5. 合并所有数据 ==========\nconst allRows = [\n  platformRow,\n  ...merchantRows,\n  ...gameRows,\n  ...currencyRows,\n];\n\nconsole.log(`✅ 数据整理完成，共 ${allRows.length} 行数据`);\nconsole.log(`   - 平台总览: 1 行`);\nconsole.log(`   - 商户榜单: ${merchantRows.length} 行`);\nconsole.log(`   - 游戏榜单: ${gameRows.length} 行`);\nconsole.log(`   - 币种数据: ${currencyRows.length} 行`);\n\n// 返回多行数据，每行一个 item\nreturn allRows.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "整理数据-谷歌表格",
      "name": "整理数据-谷歌表格"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ocpNRBK213gAAeur9hlfeV7xfAP-sP7eRDBtrNNo3k0",
          "mode": "list",
          "cachedResultName": "GMP周报数据",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ocpNRBK213gAAeur9hlfeV7xfAP-sP7eRDBtrNNo3k0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ocpNRBK213gAAeur9hlfeV7xfAP-sP7eRDBtrNNo3k0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "数据类型": "={{ $json.数据类型 }}",
            "排名": "={{ $json.排名 }}",
            "报告周期": "={{ $json.报告周期 }}",
            "周期开始": "={{ $json.周期开始 }}",
            "周期结束": "={{ $json.周期结束 }}",
            "商户名称": "={{ $json.商户名称 }}",
            "游戏名称": "={{ $json.游戏名称 }}",
            "币种": "={{ $json.币种 }}",
            "投注用户数": "={{ $json.投注用户数 }}",
            "新用户数": "={{ $json.新用户数 }}",
            "活跃用户次日留存": "={{ $json.活跃用户次日留存 }}",
            "活跃用户3日留存": "={{ $json.活跃用户3日留存 }}",
            "新用户次日留存": "={{ $json.新用户次日留存 }}",
            "新用户3日留存": "={{ $json.新用户3日留存 }}",
            "总投注USD": "={{ $json.总投注USD }}",
            "总派奖USD": "={{ $json.总派奖USD }}",
            "总GGR_USD": "={{ $json.总GGR_USD }}",
            "人均GGR_USD": "={{ $json.人均GGR_USD }}",
            "RTP": "={{ $json.RTP }}",
            "总局数": "={{ $json.总局数 }}",
            "空转指数": "={{ $json.空转指数 }}",
            "占比": "={{ $json.占比 }}",
            "生成时间": "={{ $json.生成时间 }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "id": "更新谷歌表格",
      "name": "更新谷歌表格",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CFkGEQkfMr42qKGC",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "connections": {
    "计算评分数据": {
      "main": [
        [
          {
            "node": "整理数据-谷歌表格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理数据-谷歌表格": {
      "main": [
        [
          {
            "node": "更新谷歌表格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}




