Auto data/n8n-workflows/http-athena-query.json
{
  "name": "HTTP Athena Query (No AWS SDK)",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// 准备 Athena 查询参数\nconst sqlQuery = `SELECT id, uid, merchant_id, game_id, game_code, result, currency, ROUND(CAST(amount AS DOUBLE), 2) AS amount, ROUND(CAST(pay_out AS DOUBLE), 2) AS pay_out, multiplier, balance, detail, DATE_FORMAT(FROM_UNIXTIME(created_at / 1000), '%Y-%m-%d %H:%i:%s') AS created_at, DATE_FORMAT(FROM_UNIXTIME(updated_at / 1000), '%Y-%m-%d %H:%i:%s') AS updated_at FROM game_records WHERE provider = 'gp' AND merchant = '1737978166' AND id in ('1976423513265401856','1976422629802373120','1976437176340557824') AND updated_at BETWEEN TO_UNIXTIME(PARSE_DATETIME('2025-10-01 00:00:00', 'yyyy-MM-dd HH:mm:ss')) * 1000 AND TO_UNIXTIME(PARSE_DATETIME('2025-10-30 23:59:59', 'yyyy-MM-dd HH:mm:ss')) * 1000`;\n\n// AWS 配置\nconst awsConfig = {\n  region: 'us-west-2',\n  accessKeyId: 'AKIAQQJLCWBOOKC7J6ZI',\n  secretAccessKey: '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'\n};\n\n// Athena 配置\nconst athenaConfig = {\n  database: 'gmp',\n  outputLocation: 's3://aws-athena-query-results-us-west-2-034986963036/',\n  workGroup: 'primary'\n};\n\n// 生成 AWS 签名所需的参数\nconst timestamp = new Date().toISOString().replace(/[\\-:]|\\.\\d{3}/g, '');\nconst date = timestamp.substr(0, 8);\n\nreturn {\n  json: {\n    sqlQuery,\n    awsConfig,\n    athenaConfig,\n    timestamp,\n    date,\n    status: 'ready'\n  }\n};"
      },
      "id": "prepare-query",
      "name": "Prepare Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// 生成 AWS 签名\nconst crypto = require('crypto');\nconst { awsConfig, athenaConfig, sqlQuery, timestamp, date } = $json;\n\n// 创建请求参数\nconst requestParams = {\n  QueryString: sqlQuery,\n  QueryExecutionContext: {\n    Database: athenaConfig.database\n  },\n  ResultConfiguration: {\n    OutputLocation: athenaConfig.outputLocation\n  },\n  WorkGroup: athenaConfig.workGroup\n};\n\nconst requestBody = JSON.stringify(requestParams);\nconst requestHash = crypto.createHash('sha256').update(requestBody).digest('hex');\n\n// AWS 签名算法 (简化版本)\nconst canonicalRequest = [\n  'POST',\n  '/',\n  '',\n  `host:athena.${awsConfig.region}.amazonaws.com`,\n  `x-amz-date:${timestamp}`,\n  `x-amz-target:AmazonAthena.StartQueryExecution`,\n  '',\n  'host;x-amz-date;x-amz-target',\n  requestHash\n].join('\\n');\n\nconst stringToSign = [\n  'AWS4-HMAC-SHA256',\n  timestamp,\n  `${date}/${awsConfig.region}/athena/aws4_request`,\n  crypto.createHash('sha256').update(canonicalRequest).digest('hex')\n].join('\\n');\n\nconst signingKey = crypto.createHmac('sha256', `AWS4${awsConfig.secretAccessKey}`)\n  .update(date).digest();\nconst signingKey2 = crypto.createHmac('sha256', signingKey)\n  .update(awsConfig.region).digest();\nconst signingKey3 = crypto.createHmac('sha256', signingKey2)\n  .update('athena').digest();\nconst signingKey4 = crypto.createHmac('sha256', signingKey3)\n  .update('aws4_request').digest();\n\nconst signature = crypto.createHmac('sha256', signingKey4)\n  .update(stringToSign).digest('hex');\n\nconst authorization = `AWS4-HMAC-SHA256 Credential=${awsConfig.accessKeyId}/${date}/${awsConfig.region}/athena/aws4_request, SignedHeaders=host;x-amz-date;x-amz-target, Signature=${signature}`;\n\nreturn {\n  json: {\n    requestBody,\n    timestamp,\n    authorization,\n    requestHash,\n    canonicalRequest,\n    stringToSign,\n    signature,\n    awsConfig\n  }\n};"
      },
      "id": "generate-signature",
      "name": "Generate AWS Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://athena.us-west-2.amazonaws.com/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-amz-json-1.1"
            },
            {
              "name": "X-Amz-Date",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Amz-Target",
              "value": "AmazonAthena.StartQueryExecution"
            },
            {
              "name": "Authorization",
              "value": "={{ $json.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "start-query",
      "name": "Start Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// 解析启动查询的响应\nconst response = $json;\n\nif (response.QueryExecutionId) {\n  return {\n    json: {\n      success: true,\n      queryId: response.QueryExecutionId,\n      status: 'started',\n      message: '查询已启动，正在执行中...',\n      timestamp: new Date().toISOString()\n    }\n  };\n} else {\n  return {\n    json: {\n      success: false,\n      error: 'Failed to start query',\n      response: response,\n      status: 'failed',\n      timestamp: new Date().toISOString()\n    }\n  };\n}"
      },
      "id": "parse-start-response",
      "name": "Parse Start Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "wait-for-completion",
      "name": "Wait for Completion",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// 生成检查状态的签名\nconst crypto = require('crypto');\nconst { queryId, awsConfig } = $json;\nconst timestamp = new Date().toISOString().replace(/[\\-:]|\\.\\d{3}/g, '');\nconst date = timestamp.substr(0, 8);\n\n// 创建检查状态的请求参数\nconst requestParams = {\n  QueryExecutionId: queryId\n};\n\nconst requestBody = JSON.stringify(requestParams);\nconst requestHash = crypto.createHash('sha256').update(requestBody).digest('hex');\n\n// AWS 签名算法\nconst canonicalRequest = [\n  'POST',\n  '/',\n  '',\n  `host:athena.${awsConfig.region}.amazonaws.com`,\n  `x-amz-date:${timestamp}`,\n  `x-amz-target:AmazonAthena.GetQueryExecution`,\n  '',\n  'host;x-amz-date;x-amz-target',\n  requestHash\n].join('\\n');\n\nconst stringToSign = [\n  'AWS4-HMAC-SHA256',\n  timestamp,\n  `${date}/${awsConfig.region}/athena/aws4_request`,\n  crypto.createHash('sha256').update(canonicalRequest).digest('hex')\n].join('\\n');\n\nconst signingKey = crypto.createHmac('sha256', `AWS4${awsConfig.secretAccessKey}`)\n  .update(date).digest();\nconst signingKey2 = crypto.createHmac('sha256', signingKey)\n  .update(awsConfig.region).digest();\nconst signingKey3 = crypto.createHmac('sha256', signingKey2)\n  .update('athena').digest();\nconst signingKey4 = crypto.createHmac('sha256', signingKey3)\n  .update('aws4_request').digest();\n\nconst signature = crypto.createHmac('sha256', signingKey4)\n  .update(stringToSign).digest('hex');\n\nconst authorization = `AWS4-HMAC-SHA256 Credential=${awsConfig.accessKeyId}/${date}/${awsConfig.region}/athena/aws4_request, SignedHeaders=host;x-amz-date;x-amz-target, Signature=${signature}`;\n\nreturn {\n  json: {\n    queryId,\n    requestBody,\n    timestamp,\n    authorization,\n    awsConfig\n  }\n};"
      },
      "id": "generate-status-signature",
      "name": "Generate Status Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "url": "https://athena.us-west-2.amazonaws.com/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-amz-json-1.1"
            },
            {
              "name": "X-Amz-Date",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Amz-Target",
              "value": "AmazonAthena.GetQueryExecution"
            },
            {
              "name": "Authorization",
              "value": "={{ $json.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "// 解析状态响应\nconst response = $json;\nconst queryId = response.QueryExecutionId || $('Parse Start Response').item.json.queryId;\n\nif (response.QueryExecution) {\n  const execution = response.QueryExecution;\n  const status = execution.Status.State;\n  \n  return {\n    json: {\n      queryId,\n      status: status.toLowerCase(),\n      statusChangeReason: execution.Status.StateChangeReason || '',\n      dataScannedInBytes: execution.Statistics?.DataScannedInBytes,\n      engineExecutionTimeInMillis: execution.Statistics?.EngineExecutionTimeInMillis,\n      timestamp: new Date().toISOString()\n    }\n  };\n} else {\n  return {\n    json: {\n      queryId,\n      success: false,\n      error: 'Failed to get query status',\n      response: response,\n      status: 'error',\n      timestamp: new Date().toISOString()\n    }\n  };\n}"
      },
      "id": "parse-status-response",
      "name": "Parse Status Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "status-check",
      "name": "Status Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "jsCode": "// 生成获取结果的签名\nconst crypto = require('crypto');\nconst { queryId, awsConfig } = $json;\nconst timestamp = new Date().toISOString().replace(/[\\-:]|\\.\\d{3}/g, '');\nconst date = timestamp.substr(0, 8);\n\n// 创建获取结果的请求参数\nconst requestParams = {\n  QueryExecutionId: queryId,\n  MaxResults: 1000\n};\n\nconst requestBody = JSON.stringify(requestParams);\nconst requestHash = crypto.createHash('sha256').update(requestBody).digest('hex');\n\n// AWS 签名算法\nconst canonicalRequest = [\n  'POST',\n  '/',\n  '',\n  `host:athena.${awsConfig.region}.amazonaws.com`,\n  `x-amz-date:${timestamp}`,\n  `x-amz-target:AmazonAthena.GetQueryResults`,\n  '',\n  'host;x-amz-date;x-amz-target',\n  requestHash\n].join('\\n');\n\nconst stringToSign = [\n  'AWS4-HMAC-SHA256',\n  timestamp,\n  `${date}/${awsConfig.region}/athena/aws4_request`,\n  crypto.createHash('sha256').update(canonicalRequest).digest('hex')\n].join('\\n');\n\nconst signingKey = crypto.createHmac('sha256', `AWS4${awsConfig.secretAccessKey}`)\n  .update(date).digest();\nconst signingKey2 = crypto.createHmac('sha256', signingKey)\n  .update(awsConfig.region).digest();\nconst signingKey3 = crypto.createHmac('sha256', signingKey2)\n  .update('athena').digest();\nconst signingKey4 = crypto.createHmac('sha256', signingKey3)\n  .update('aws4_request').digest();\n\nconst signature = crypto.createHmac('sha256', signingKey4)\n  .update(stringToSign).digest('hex');\n\nconst authorization = `AWS4-HMAC-SHA256 Credential=${awsConfig.accessKeyId}/${date}/${awsConfig.region}/athena/aws4_request, SignedHeaders=host;x-amz-date;x-amz-target, Signature=${signature}`;\n\nreturn {\n  json: {\n    queryId,\n    requestBody,\n    timestamp,\n    authorization,\n    awsConfig\n  }\n};"
      },
      "id": "generate-results-signature",
      "name": "Generate Results Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 200]
    },
    {
      "parameters": {
        "url": "https://athena.us-west-2.amazonaws.com/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-amz-json-1.1"
            },
            {
              "name": "X-Amz-Date",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Amz-Target",
              "value": "AmazonAthena.GetQueryResults"
            },
            {
              "name": "Authorization",
              "value": "={{ $json.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-results",
      "name": "Get Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 200]
    },
    {
      "parameters": {
        "jsCode": "// 解析查询结果\nconst response = $json;\nconst queryId = response.QueryExecutionId || $('Parse Status Response').item.json.queryId;\n\nif (response.ResultSet && response.ResultSet.Rows) {\n  const columns = response.ResultSet.ResultSetMetadata?.ColumnInfo?.map(col => col.Name) || [];\n  const rows = response.ResultSet.Rows.slice(1).map(row => {\n    const rowData = {};\n    row.Data.forEach((cell, index) => {\n      rowData[columns[index]] = cell.VarCharValue || null;\n    });\n    return rowData;\n  });\n  \n  return {\n    json: {\n      success: true,\n      queryId,\n      status: 'completed',\n      rowCount: rows.length,\n      columns,\n      data: rows,\n      message: `查询成功！返回 ${rows.length} 条记录`,\n      timestamp: new Date().toISOString()\n    }\n  };\n} else {\n  return {\n    json: {\n      success: false,\n      queryId,\n      error: 'Failed to get query results',\n      response: response,\n      status: 'failed',\n      timestamp: new Date().toISOString()\n    }\n  };\n}"
      },
      "id": "parse-results",
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 200]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-and-retry",
      "name": "Wait and Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2440, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "running",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "retry-check",
      "name": "Retry Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "timeout-wait",
      "name": "Timeout Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2660, 400]
    },
    {
      "parameters": {
        "jsCode": "// 超时处理\nreturn {\n  json: {\n    success: false,\n    queryId: $('Parse Start Response').item.json.queryId,\n    status: 'timeout',\n    error: '查询超时',\n    message: '查询执行超过5分钟，请检查查询条件或联系管理员',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "timeout-handler",
      "name": "Timeout Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query": {
      "main": [
        [
          {
            "node": "Generate AWS Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AWS Signature": {
      "main": [
        [
          {
            "node": "Start Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Query": {
      "main": [
        [
          {
            "node": "Parse Start Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Start Response": {
      "main": [
        [
          {
            "node": "Wait for Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Completion": {
      "main": [
        [
          {
            "node": "Generate Status Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Status Signature": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Parse Status Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Status Response": {
      "main": [
        [
          {
            "node": "Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Check": {
      "main": [
        [
          {
            "node": "Generate Results Signature",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Results Signature": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Results": {
      "main": [
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Check": {
      "main": [
        [
          {
            "node": "Wait and Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Timeout Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait and Retry": {
      "main": [
        [
          {
            "node": "Generate Status Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timeout Wait": {
      "main": [
        [
          {
            "node": "Timeout Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-11T02:40:00.000Z",
      "updatedAt": "2025-10-11T02:40:00.000Z",
      "id": "http-athena",
      "name": "HTTP Athena"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-11T02:40:00.000Z",
  "versionId": "1"
}












