Auto data/n8n-workflows/no-code-athena.json
{
  "name": "No Code Athena Query",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://organ-execute-contract-coaches.trycloudflare.com/api/async/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\n  \"sql\": \"SELECT id, uid, merchant_id, game_id, game_code, result, currency, ROUND(CAST(amount AS DOUBLE), 2) AS amount, ROUND(CAST(pay_out AS DOUBLE), 2) AS pay_out, multiplier, balance, detail, DATE_FORMAT(FROM_UNIXTIME(created_at / 1000), '%Y-%m-%d %H:%i:%s') AS created_at, DATE_FORMAT(FROM_UNIXTIME(updated_at / 1000), '%Y-%m-%d %H:%i:%s') AS updated_at FROM game_records WHERE provider = 'gp' AND merchant = '1737978166' AND id in ('1976423513265401856','1976422629802373120','1976437176340557824') AND updated_at BETWEEN TO_UNIXTIME(PARSE_DATETIME('2025-10-01 00:00:00', 'yyyy-MM-dd HH:mm:ss')) * 1000 AND TO_UNIXTIME(PARSE_DATETIME('2025-10-30 23:59:59', 'yyyy-MM-dd HH:mm:ss')) * 1000\",\n  \"database\": \"gmp\"\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "start-query",
      "name": "Start Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-30-seconds",
      "name": "Wait 30 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://organ-execute-contract-coaches.trycloudflare.com/api/async/status/={{ $json.queryId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait-1-minute",
      "name": "Wait 1 Minute",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "https://organ-execute-contract-coaches.trycloudflare.com/api/async/status/={{ $('Start Query').item.json.queryId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-status-2",
      "name": "Check Status (2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "wait-2-minutes",
      "name": "Wait 2 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "url": "https://organ-execute-contract-coaches.trycloudflare.com/api/async/status/={{ $('Start Query').item.json.queryId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-status-final",
      "name": "Check Status (Final)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Start Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Query": {
      "main": [
        [
          {
            "node": "Wait 30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Seconds": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Wait 1 Minute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Minute": {
      "main": [
        [
          {
            "node": "Check Status (2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status (2)": {
      "main": [
        [
          {
            "node": "Wait 2 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Minutes": {
      "main": [
        [
          {
            "node": "Check Status (Final)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-11T02:55:00.000Z",
      "updatedAt": "2025-10-11T02:55:00.000Z",
      "id": "no-code",
      "name": "No Code"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-11T02:55:00.000Z",
  "versionId": "1"
}












