Auto data/n8n-workflows/simple-intelligent-query.json
{
  "name": "智能查询 - 简化版",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intelligent-query",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook 触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stroke-geo-bee-bless.trycloudflare.com/api/webhook/query/natural",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"query\": \"{{ $json.body.query }}\",\n  \"maxRows\": {{ $json.body.maxRows || 10000 }},\n  \"timeout\": 120000\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-query-api",
      "name": "调用查询API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "athena-api-key",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"查询完成\",\n  \"data\": {\n    \"query\": \"{{ $json.body.query }}\",\n    \"result\": {{ $json }}\n  }\n}"
      },
      "id": "respond-web",
      "name": "响应结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook 触发": {
      "main": [
        [
          {
            "node": "调用查询API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用查询API": {
      "main": [
        [
          {
            "node": "响应结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "查数工具",
      "id": "data-query"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-10T00:00:00.000Z",
  "versionId": "1.0"
}












