Auto data/n8n-workflows/simple-direct-athena.json
{
  "name": "Simple Direct Athena Query",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// 直接在 n8n 中执行 Athena 查询\nconst AWS = require('aws-sdk');\n\n// AWS 配置\nAWS.config.update({\n  region: 'us-west-2',\n  accessKeyId: 'AKIAQQJLCWBOOKC7J6ZI',\n  secretAccessKey: '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'\n});\n\nconst athena = new AWS.Athena();\n\n// 你的具体 SQL 查询\nconst sqlQuery = `SELECT id, uid, merchant_id, game_id, game_code, result, currency, ROUND(CAST(amount AS DOUBLE), 2) AS amount, ROUND(CAST(pay_out AS DOUBLE), 2) AS pay_out, multiplier, balance, detail, DATE_FORMAT(FROM_UNIXTIME(created_at / 1000), '%Y-%m-%d %H:%i:%s') AS created_at, DATE_FORMAT(FROM_UNIXTIME(updated_at / 1000), '%Y-%m-%d %H:%i:%s') AS updated_at FROM game_records WHERE provider = 'gp' AND merchant = '1737978166' AND id in ('1976423513265401856','1976422629802373120','1976437176340557824') AND updated_at BETWEEN TO_UNIXTIME(PARSE_DATETIME('2025-10-01 00:00:00', 'yyyy-MM-dd HH:mm:ss')) * 1000 AND TO_UNIXTIME(PARSE_DATETIME('2025-10-30 23:59:59', 'yyyy-MM-dd HH:mm:ss')) * 1000`;\n\n// 启动查询\nconst startParams = {\n  QueryString: sqlQuery,\n  QueryExecutionContext: {\n    Database: 'gmp'\n  },\n  ResultConfiguration: {\n    OutputLocation: 's3://aws-athena-query-results-us-west-2-034986963036/'\n  },\n  WorkGroup: 'primary'\n};\n\ntry {\n  console.log('Starting Athena query...');\n  const startResult = await athena.startQueryExecution(startParams).promise();\n  const queryId = startResult.QueryExecutionId;\n  \n  console.log('Query started with ID:', queryId);\n  \n  // 等待查询完成\n  let attempts = 0;\n  const maxAttempts = 30; // 最多等待 5 分钟 (30 * 10秒)\n  \n  while (attempts < maxAttempts) {\n    await new Promise(resolve => setTimeout(resolve, 10000)); // 等待 10 秒\n    attempts++;\n    \n    try {\n      const statusResult = await athena.getQueryExecution({ QueryExecutionId: queryId }).promise();\n      const status = statusResult.QueryExecution.Status.State;\n      \n      console.log(`Attempt ${attempts}: Query status = ${status}`);\n      \n      if (status === 'SUCCEEDED') {\n        // 查询成功，获取结果\n        const resultParams = {\n          QueryExecutionId: queryId,\n          MaxResults: 1000\n        };\n        \n        const result = await athena.getQueryResults(resultParams).promise();\n        \n        // 处理结果\n        const columns = result.ResultSet.ResultSetMetadata.ColumnInfo.map(col => col.Name);\n        const rows = result.ResultSet.Rows.slice(1).map(row => {\n          const rowData = {};\n          row.Data.forEach((cell, index) => {\n            rowData[columns[index]] = cell.VarCharValue || null;\n          });\n          return rowData;\n        });\n        \n        return {\n          json: {\n            success: true,\n            queryId,\n            status: 'completed',\n            rowCount: rows.length,\n            columns,\n            data: rows,\n            message: `查询成功！返回 ${rows.length} 条记录`,\n            executionTime: `${attempts * 10} 秒`,\n            timestamp: new Date().toISOString()\n          }\n        };\n        \n      } else if (status === 'FAILED' || status === 'CANCELLED') {\n        return {\n          json: {\n            success: false,\n            queryId,\n            status: status.toLowerCase(),\n            error: statusResult.QueryExecution.Status.StateChangeReason || 'Query failed',\n            message: '查询执行失败',\n            timestamp: new Date().toISOString()\n          }\n        };\n      }\n      // 如果状态是 RUNNING 或 QUEUED，继续等待\n      \n    } catch (statusError) {\n      console.error('Error checking status:', statusError);\n      return {\n        json: {\n          success: false,\n          queryId,\n          error: statusError.message,\n          status: 'error',\n          message: '检查查询状态时出错',\n          timestamp: new Date().toISOString()\n        }\n      };\n    }\n  }\n  \n  // 超时\n  return {\n    json: {\n      success: false,\n      queryId,\n      status: 'timeout',\n      error: '查询超时',\n      message: '查询执行超过5分钟，请检查查询条件',\n      timestamp: new Date().toISOString()\n    }\n  };\n  \n} catch (error) {\n  console.error('Error executing query:', error);\n  return {\n    json: {\n      success: false,\n      error: error.message,\n      status: 'failed',\n      message: '启动查询时出错',\n      timestamp: new Date().toISOString()\n    }\n  };\n}"
      },
      "id": "execute-athena-query",
      "name": "Execute Athena Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// 格式化输出结果\nconst data = $json;\n\nif (data.success) {\n  // 成功结果格式化\n  const formattedData = {\n    success: true,\n    message: data.message,\n    queryId: data.queryId,\n    summary: {\n      rowCount: data.rowCount,\n      columns: data.columns,\n      executionTime: data.executionTime\n    },\n    data: data.data,\n    timestamp: data.timestamp\n  };\n  \n  // 如果有数据，显示前几行作为预览\n  if (data.data && data.data.length > 0) {\n    formattedData.preview = data.data.slice(0, 3); // 显示前3行\n    formattedData.message += `\\n\\n数据预览 (前3行):`;\n  }\n  \n  return { json: formattedData };\n} else {\n  // 错误结果格式化\n  return {\n    json: {\n      success: false,\n      message: data.message,\n      error: data.error,\n      queryId: data.queryId,\n      status: data.status,\n      timestamp: data.timestamp\n    }\n  };\n}"
      },
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Execute Athena Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Athena Query": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-11T02:35:00.000Z",
      "updatedAt": "2025-10-11T02:35:00.000Z",
      "id": "simple-direct",
      "name": "Simple Direct"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-11T02:35:00.000Z",
  "versionId": "1"
}












