Auto data/n8n-workflows/smart-preprocess-query.json
{
  "name": "Smart Preprocess Query",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// 智能预处理 Telegram 消息\nconst messageText = $json.message.text;\nconst messageDate = new Date($json.message.date * 1000);\n\n// 1. 提取数字 ID (包括带 PANDA- 前缀的)\nconst idPattern = /(?:PANDA-)?(\\d{16,})/g;\nconst extractedIds = [];\nlet match;\nwhile ((match = idPattern.exec(messageText)) !== null) {\n  extractedIds.push(match[1]);\n}\n\n// 2. 移除 ID 和多余信息，提取自然语言查询\nlet cleanQuery = messageText\n  .replace(/(?:PANDA-)?\\d{16,}/g, '') // 移除所有 ID\n  .replace(/\\b[A-Za-z]+\\d+\\b/g, '') // 移除类似 ydb3626 的标识\n  .replace(/\\b(墨西哥|User\\d+)\\b/g, '') // 移除地区信息\n  .replace(/\\s+/g, ' ') // 合并多个空格\n  .trim();\n\n// 如果清理后为空，使用默认查询\nif (!cleanQuery || cleanQuery.length < 3) {\n  cleanQuery = \"查询这些记录的游戏数据\";\n}\n\n// 3. 计算时间范围 (最近一周)\nconst oneWeekAgo = new Date(messageDate);\noneWeekAgo.setDate(oneWeekAgo.getDate() - 7);\n\nconst startTime = Math.floor(oneWeekAgo.getTime() / 1000) * 1000; // 转换为毫秒时间戳\nconst endTime = Math.floor(messageDate.getTime() / 1000) * 1000;\n\n// 4. 构建增强的查询提示\nlet enhancedQuery = cleanQuery;\n\nif (extractedIds.length > 0) {\n  enhancedQuery += `\\n\\n相关记录ID: ${extractedIds.join(', ')}`;\n}\n\nenhancedQuery += `\\n\\n默认查询条件：\\n`;\nenhancedQuery += `- 提供商: gp 和 popular\\n`;\nenhancedQuery += `- 时间范围: 最近一周 (${oneWeekAgo.toLocaleDateString()} 到 ${messageDate.toLocaleDateString()})\\n`;\n\nif (extractedIds.length > 0) {\n  enhancedQuery += `- 指定ID: ${extractedIds.join(', ')}`;\n}\n\n// 5. 返回处理后的数据\nreturn {\n  json: {\n    // 原始数据\n    originalMessage: messageText,\n    messageDate: messageDate.toISOString(),\n    chatId: $json.message.chat.id,\n    messageId: $json.message.message_id,\n    \n    // 提取的数据\n    extractedIds: extractedIds,\n    cleanQuery: cleanQuery,\n    enhancedQuery: enhancedQuery,\n    \n    // 时间范围\n    startTime: startTime,\n    endTime: endTime,\n    startDate: oneWeekAgo.toISOString().split('T')[0],\n    endDate: messageDate.toISOString().split('T')[0],\n    \n    // 默认条件\n    defaultProviders: ['gp', 'popular'],\n    \n    // 查询统计\n    hasSpecificIds: extractedIds.length > 0,\n    hasTimeRange: true,\n    hasProviderFilter: true,\n    \n    // 传递给 AI 的最终查询\n    aiQuery: enhancedQuery\n  }\n};"
      },
      "id": "smart-preprocess",
      "name": "Smart Preprocess",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.aiQuery }}",
        "options": {
          "systemMessage": "你是一个专业的SQL查询助手，专门为AWS Athena数据库生成SQL查询语句。\n\n数据库信息：\n- 数据库名：gmp\n- 主要表：game_records\n- 表结构：\n  - id (varchar): 记录ID\n  - uid (varchar): 用户ID\n  - merchant_id (varchar): 商户ID\n  - game_id (bigint): 游戏ID\n  - game_code (varchar): 游戏代码\n  - result (integer): 游戏结果\n  - currency (varchar): 货币类型\n  - amount (double): 金额\n  - pay_out (double): 支付金额\n  - multiplier (varchar): 倍数\n  - balance (varchar): 余额\n  - detail (varchar): 详细信息\n  - created_at (bigint): 创建时间戳\n  - updated_at (bigint): 更新时间戳\n  - provider (varchar): 提供商\n  - merchant (varchar): 商户\n\n重要规则：\n1. 只返回SQL语句，不要包含任何解释\n2. 时间字段需要转换：FROM_UNIXTIME(created_at / 1000) 和 FROM_UNIXTIME(updated_at / 1000)\n3. 金额字段需要四舍五入：ROUND(CAST(amount AS DOUBLE), 2)\n4. 日期格式：DATE_FORMAT(FROM_UNIXTIME(created_at / 1000), '%Y-%m-%d %H:%i:%s')\n5. 限制结果数量，使用 LIMIT 100\n6. 使用适当的WHERE条件避免全表扫描\n7. 如果涉及时间范围，使用BETWEEN和TO_UNIXTIME函数\n8. 如果提供了具体ID，优先使用ID查询\n9. 默认包含 provider IN ('gp', 'popular')\n\n示例：\n- 查询指定ID的记录：\n  SELECT * FROM game_records \n  WHERE id IN ('1976423513265401856', '1976422629802373120', '1976437176340557824')\n  AND provider IN ('gp', 'popular')\n  LIMIT 100\n\n- 查询时间范围内的记录：\n  SELECT * FROM game_records \n  WHERE updated_at BETWEEN TO_UNIXTIME(PARSE_DATETIME('2025-10-04', 'yyyy-MM-dd')) * 1000 \n  AND TO_UNIXTIME(PARSE_DATETIME('2025-10-11', 'yyyy-MM-dd')) * 1000\n  AND provider IN ('gp', 'popular')\n  LIMIT 100"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "n8n-nodes-base.agent",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://organ-execute-contract-coaches.trycloudflare.com/api/async/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"sql\": \"{{ $json.output }}\",\n  \"database\": \"gmp\"\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "start-query",
      "name": "Start Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait-1-minute",
      "name": "Wait 1 Minute",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "=https://organ-execute-contract-coaches.trycloudflare.com/api/async/status/{{ $json.queryId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "f6cd456a61fa81efce5bbf2f4b6e649ac8430f7e17f2e46a3414f18c03d0b83d"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=请将以下查询结果格式化为美观的Telegram消息：\n\n原始查询：{{ $('Smart Preprocess').item.json.originalMessage }}\n\n提取信息：\n- 识别到的ID: {{ $('Smart Preprocess').item.json.extractedIds.join(', ') || '无' }}\n- 查询意图: {{ $('Smart Preprocess').item.json.cleanQuery }}\n- 时间范围: {{ $('Smart Preprocess').item.json.startDate }} 到 {{ $('Smart Preprocess').item.json.endDate }}\n- 默认条件: provider包含 gp 和 popular\n\n查询结果：\n状态：{{ $json.status }}\n执行时间：{{ $json.elapsed }}秒\n记录数：{{ $json.result?.row_count || 0 }}\n\n数据：\n{{ JSON.stringify($json.result?.data || [], null, 2) }}",
        "options": {
          "systemMessage": "你是一个数据分析助手，专门格式化查询结果并生成用户友好的报告。\n\n任务：将查询结果转换为清晰、易读的格式，适合在Telegram中显示。\n\n格式要求：\n1. 使用Markdown格式\n2. 包含查询统计信息（记录数、执行时间等）\n3. 显示识别到的ID和查询条件\n4. 以表格或列表形式展示数据\n5. 限制显示前10条记录\n6. 使用emoji增强可读性\n7. 如果记录太多，提供摘要信息\n\n示例格式：\n🎯 **智能查询结果**\n\n📋 **查询信息**\n- 原始消息: [显示原始消息]\n- 识别ID: [显示提取的ID]\n- 查询意图: [显示清理后的查询]\n- 时间范围: [显示时间范围]\n- 默认条件: provider包含 gp 和 popular\n\n📊 **执行结果**\n- 找到 X 条记录\n- 执行时间: X秒\n- 数据扫描: XMB\n\n📋 **数据预览** (前X条):\n[显示数据]\n\n如果记录超过10条，在末尾添加：\n... 还有 X 条记录"
        }
      },
      "id": "format-result-ai",
      "name": "Format Result (AI)",
      "type": "n8n-nodes-base.agent",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Smart Preprocess').item.json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "replyToMessageId": "={{ $('Smart Preprocess').item.json.messageId }}",
          "parseMode": "Markdown"
        }
      },
      "id": "send-result",
      "name": "Send Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Smart Preprocess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Preprocess": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Start Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Query": {
      "main": [
        [
          {
            "node": "Wait 1 Minute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Minute": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Format Result (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result (AI)": {
      "main": [
        [
          {
            "node": "Send Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-11T03:40:00.000Z",
      "updatedAt": "2025-10-11T03:40:00.000Z",
      "id": "smart-preprocess",
      "name": "Smart Preprocess"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-11T03:40:00.000Z",
  "versionId": "1"
}
